{include file="top"} {include file="left"}
<!-- 页面css样式 -->
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/crm/css/index.css?199">
<style type="text/css">
    .three_one_fade-enter-active {
  animation: bounce-in 1s;
}
.three_one_fade-leave-active {
  animation: bounce-in 1s reverse;
}
@keyframes bounce-in {
  0% {
    transform: translate(0px,-500px);
  }
  
  100% {
    transform: translate(0px,0px);
  }
}
</style>
<div class="container" id="mtk" style="width: 80%;">
    <div class="title row">
        <div class="col-md-1">
            <a href="javascript:" style="border-bottom: 2px gray solid">全部客户</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:">潜在客户</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:">签约客户</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:">重复购买</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:">失效客户</a>
        </div>
    </div>
    <div class="search row">
        <form action="{:url('index')}" class="form">
            <div class="col-md-3 form-inline" style="overflow: hidden;">
                <p class="glyphicon glyphicon-glass pull-left" style="margin-top: 8px;"></p>
                <!-- 公司分类选择 -->
                <div class="pull-left">
                    <select class="form-control pull-right" name="companycate_id" onchange="$('#basic-addon2').click()" style="width: 100%;">
                        <option value="">全部数据</option>
                        <option :value="inf.id" v-for="inf in c_list">{{inf.company_cate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 form-inline">
                <p class="glyphicon glyphicon-search pull-left" style="margin: 8px 5px 0 0;"></p>
                <div class="input-group pull-left">
                    <input type="text" class="form-control pull-left" placeholder="输入客户名称" aria-describedby="basic-addon2" name="company_name">
                </div>
                <input type="submit" class="btn btn-group pull-left" id="basic-addon2" style="cursor: pointer;" value="搜索" style="margin-left:-100px; ">
            </div>
        </form>
    </div>
    <div class="info">
        <div>
            <div class="pull-left">
                <p class="pull-left" style="margin:5px 0 0 5px;">客户基本信息</p>
                <span style="color: #ccc">共2条</span>
                <a href="{:url('index')}" class="btn btn-default">清除搜索</a><span class="glyphicon glyphicon-trash"></span>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <tr class="success">
            <td>ID</td>
            <th>简称</th>
            <th>客户名称</th>
            <th>种类</th>
            <th>所有者</th>
            <th>电话</th>
            <th>创建日期</th>
            <th>操作</th>
        </tr>
        {foreach $list as $info}
        <tr>
            <td>{$info.id}</td>
            <td>{$info.company_name}</td>
            <td>{$info.company_name}</td>
            <td>{$info.company_cate}</td>
            <td>{$info.user_name}</td>
            <td>{$info.user_phone}</td>
            <td>{$info.time}</td>
            <td>
                <a class="glyphicon glyphicon-list-alt" title="视图" data-placement="bottom" href="{:url('crm/userinfo',['id'=>$info.id])}" target="view_window"></a>
                <a class="glyphicon glyphicon-pencil" title="编辑" data-placement="bottom" data-toggle="modal" href="#client" @click="getInfo({$info.id})">
                    </a>
                </a>
                <a class="glyphicon glyphicon-remove" title="删除" data-placement="bottom" href="{:url('delete',['id'=>$info.id])}"></a>
            </td>
        </tr>
        {/foreach}
    </table>
    <!-- 编辑模态框开始 -->
    <div class="modal fade" id="client" style="padding: 130px;">
        <div class="modal-dialog text-center" style="width: 85%;">
            <div class="modal-content edit">
                <!-- 模态框标题 -->
                <div class="modal-header">客户基本信息</div>
                <!-- 模态框内容 -->
                <div class="modal-body" style="padding: 31px;">
                        <!-- 基本信息 -->
                         <form action="{:url('update_userinfo')}" class="form" method="post" enctype="multipart/form-data">
                        <p class="text-center">基本信息</p>
                        <div id="text-center-b" style="display: block;height: 1px;width: 40%;background: rgba(0,0,0,0.2);margin-bottom: 10px;margin-left: 30%;"></div>
                        <div class="form-group form-inline" style="margin-bottom: 10px;overflow: hidden;">
                            <label>客户名称</label>
                            <input type="text" v-model="edit.company_name" class="form-control" placeholder="客户名称" name="company_name" style="width: 90%;">
                        </div>
                        <!-- 第二列 -->
                        <div class="row form-inline" style="margin-bottom: 10px;">
                            <div class="form-group col-md-6">
                                <label>简称</label>
                                <input type="text" class="form-control" v-model="edit.company_name" placeholder="请输入姓" name="company_shortname" style="width: 87%;">
                            </div>
                            <!-- 种类 -->
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label" style="margin-right: 7%;">种类</label>
                                <select class="form-control" name="companycate_id" style="width: 80%;">
                                    <option value="">全部数据</option>
                                    <!-- 编辑时显示客户种类 -->
                                    <option :value="inf.id" v-for="inf in c_list" :selected="inf.id==edit.companycate_id">{{inf.company_cate}}</option>
                                </select>
                                <a class="glyphicon glyphicon-book" title="数据字典" data-placement="bottom" href="{:url('crm/companycate')}"></a>
                            </div>
                        </div>
                        <!-- 第二行结束 -->
                        <!-- 第三行开始 -->
                        <div class="row form-inline row">
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">编号</label>
                                <input type="text" class="form-control" v-model="edit.id" id="lastname" name="id" style="width: 87%;">
                            </div>
                            <!-- 种类 -->
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">上级客户</label>
                                <input type="text" class="form-control" id="lastname" name="up_client" placeholder="上级客户" style="width: 80%;">
                            </div>
                        </div>
                        <!-- 第三行结束 -->
                         <!-- 生命周期 -->
                        <p class="text-center" style="margin-top: 30px;">生命周期</p>
                        <div id="text-center-b" style="display: block;height: 1px;width: 40%;background: rgba(0,0,0,0.2);margin-bottom: 10px;margin-left: 30%;"></div>
                        <div class="form-inline row" style="overflow: hidden;">
                            <div class="pull-left col-md-6" style="margin-top: 8px;">
                                <label class="radio-inline">
                                    <input type="radio" name="state" id="optionsRadios1" value="潜在" value=="edit.id"?checked:"">潜在
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="state" id="optionsRadios2" value="签约" value=="{{edit.id}}"?checked:"">签约
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="state" id="optionsRadios3" value="重复购买">重复购买
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="state" id="optionsRadios4" value="失效">失效
                                </label>
                            </div>
                            <!-- 时间插件 -->

                            <div class="pull-right col-md-6">
                                <template>
                                    <div class="block">
                                        <span class="demonstration" style="margin-right: 7%;font-weight: bold;">签约</span>
                                        <el-date-picker v-model="value1" type="date" placeholder="选择日期" style="width: 80%;" name="sign_time">
                                        </el-date-picker>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <!-- 商务特征开始 -->
                        <p class="text-center" style="margin-top: 30px;">商务特征</p>
                        <div id="text-center-b" style="display: block;height: 1px;width: 40%;background: rgba(0,0,0,0.2);margin-bottom: 10px;margin-left: 30%;"></div>
                        <!-- 第一行 -->
                        <div class="form-inline row">
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">三一客</label>
                                <input type="text" class="form-control" name="three_one_dinxin" style="width:23%;" v-model="dinxin">
                                <input type="text" class="form-control" name="three_one_dinji" style="width: 23%;" v-model="dinji">
                                <input type="text" class="form-control" name="three_one_dinliang" style="width: 23%;" v-model="dinliang">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" @click="threeoneshow=!threeoneshow">选择</button>
  <transition name="three_one_fade">
    <div style="width:120%;z-index: 99;background: #fff;" v-if="threeoneshow">
        <h6 class="text-center">三定</h6>
        <div class="row" style="padding: 5px 0;">
            <p class="col-md-2" style="line-height: 55px;">1.定性</p>
            <div class="col-md-3" @click="dinxin='有价值'"><img src="__PUBLIC__static/admin/crm/images/index/zan.png" style="width: 25px;height: 25px;"><p>有价值</p></div>
            <div class="col-md-3" @click="dinxin='无价值'"><img src="__PUBLIC__static/admin/crm/images/index/cai.png" style="width: 25px;height: 25px;"><p>无价值</p></div>
            <div class="col-md-3" @click="dinxin='不确定'"><img src="__PUBLIC__static/admin/crm/images/index/wen.png" style="width: 25px;height: 25px;"><p>不确定</p></div>
        </div>
        <div class="row" style="padding: 5px 0;">
            <p class="col-md-2" style="line-height: 55px;">2.定级</p>
            <div class="col-md-3" @click="dinji='大单'"><img src="__PUBLIC__static/admin/crm/images/index/daxiao.png" style="width: 25px;height: 25px;"><p>大单</p></div>
            <div class="col-md-3" @click="dinji='正常'"><img src="__PUBLIC__static/admin/crm/images/index/weixiao.png" style="width: 25px;height: 25px;"><p>正常</p></div>
            <div class="col-md-3" @click="dinji='小单'"><img src="__PUBLIC__static/admin/crm/images/index/ku.png" style="width: 25px;height: 25px;"><p>小单</p></div>
        </div>
        <div class="row" style="padding: 5px 0;">
            <p class="col-md-2" style="line-height: 55px;">3.定量</p>
            <div class="col-md-3"  @click="dinliang='本月'"><img src="__PUBLIC__static/admin/crm/images/index/yueliang.png" style="width: 25px;height: 25px;"><p>本月</p></div>
            <div class="col-md-3"  @click="dinliang='本周'"><img src="__PUBLIC__static/admin/crm/images/index/yun.png" style="width: 25px;height: 25px;"><p>本周</p></div>
            <div class="col-md-3"  @click="dinliang='近两天'"><img src="__PUBLIC__static/admin/crm/images/index/yun.png" style="width: 25px;height: 25px;"><p>近两天</p></div>
        </div>
    </div>
  </transition>


                            </div>
                            <div class="form-group pull-right col-md-6">
                                <label for="lastname" class="control-label" style="margin-right: 7%">阶段</label>
                                <select class="form-control" name="companystage_id" style="width: 80%;">
                                    <option value="">未选择</option>
                                    <option :value="infstage.id" v-for="infstage in stage_list" :selected="infstage.id==edit.companystage_id">{{infstage.company_stage}}</option>
                                </select>
                                <a class="glyphicon glyphicon-book" title="数据字典" data-placement="bottom" href="{:url('crm/companycate')}"></a>
                            </div>
                        </div>
                        <!-- 第二行 -->
                        <div class="form-inline row" style="margin-top:10px;">
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label" style="margin-right: 3%">来源</label>
                                <select class="form-control" name="usersource_id" style="width: 84%;">
                                    <option value="">未选择</option>
                                    <option :value="infsource.id" v-for="infsource in source_list" :selected="infsource.id==edit.usersource_id">{{infsource.user_source}}</option>
                                </select>
                                <a class="glyphicon glyphicon-book" title="数据字典" data-placement="bottom" href="{:url('crm/companycate')}"></a>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">关系等级</label>
                                <select class="form-control" name="companycate_id" style="width: 80%;">
                                    <option value="">全部数据</option>
                                    <option :value="inf.id" v-for="inf in c_list" :selected="inf.id==edit.companycate_id">{{inf.company_cate}}</option>
                                </select>
                                <a class="glyphicon glyphicon-book" title="数据字典" data-placement="bottom" href="{:url('crm/companycate')}"></a>
                            </div>
                        </div>
                        <!-- 第三行 -->
                        <div class="form-inline row" style="overflow: hidden; margin-top:10px;">
                            <div class="pull-left col-md-6" style="margin-top: 8px;">
                                <p class="pull-left">信用等级</p>
                                <label class="radio-inline">
                                    <input type="radio" name="credit_rating" id="optionsRadios3" value="高" checked>高
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="credit_rating" id="optionsRadios4" value="中">中
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="credit_rating" id="optionsRadios4" value="低">低
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">结款方式</label>
                                <select class="form-control" name="companycate_id" style="width: 80%;">
                                    <option value="">未选择</option>
                                    <option :value="inf.id" v-for="inf in c_list" :selected="inf.id==edit.companycate_id">{{inf.company_cate}}</option>
                                </select>
                                <a class="glyphicon glyphicon-book" title="数据字典" data-placement="bottom" href="{:url('crm/companycate')}"></a>
                            </div>
                        </div>
                        
                        <!-- 客观特征 -->
                        <p class="text-center" style="margin-top: 30px;">客观特征</p>
                        <div id="text-center-b" style="display: block;height: 1px;width: 40%;background: rgba(0,0,0,0.2);margin-bottom: 10px;margin-left: 30%;"></div>
                        <div class="form-inline row" style="margin-top:10px;">
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label" style="margin-right: 3%">行业</label>
                                <select class="form-control" name="companyindustry_id" style="width: 84%;">
                                    <option value="">全部数据</option>
                                    <option :value="inf.id" v-for="inf in c_list" :selected="inf.id==edit.companycate_id">{{inf.company_cate}}</option>
                                </select>
                                <a class="glyphicon glyphicon-book" title="数据字典" data-placement="bottom" href="{:url('crm/companycate')}"></a>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">人员规模</label>
                                <select class="form-control" name="companyscale_id" style="width: 80%;">
                                    <option value="">全部数据</option>
                                    <option :value="inf.id" v-for="inf in c_list" :selected="inf.id==edit.companycate_id">{{inf.company_cate}}</option>
                                </select>
                                <a class="glyphicon glyphicon-book" title="数据字典" data-placement="bottom" href="{:url('crm/companycate')}"></a>
                            </div>
                        </div>
                        <div class="form-inline row" style="margin-top:10px;">
                            <div class="form-group col-md-12">
                                <label for="lastname" class="control-label pull-left">公司简介:</label>
                                <textarea class="form-control" style="width: 93%;margin-left: 5%;" name="company_remark"></textarea>
                            </div>
                        </div>
                        <!-- 联系方式 -->
                        <p class="text-center" style="margin-top: 30px;">联系方式</p>
                        <div id="text-center-b" style="display: block;height: 1px;width: 40%;background: rgba(0,0,0,0.2);margin-bottom: 10px;margin-left: 30%;"></div>
                        <div class="row form-inline" style="margin-bottom: 10px;">
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">电话</label>
                                <input type="text" class="form-control" v-model="edit.user_phone" placeholder="请输入姓" name="user_phone" style="width: 87%;">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname" class="control-label">传真</label>
                                <input type="text" class="form-control" v-model="edit.user_telephone" placeholder="请输座机" name="user_telephone" style="width: 88%;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="control-label pull-left">网址</label>
                            <input type="text" class="form-control pull-left" v-model="edit.company_url" placeholder="http://" name="company_url" style="width: 95%; margin-bottom: 10px;">
                        </div>
                        <!-- 地区选择 -->
                        <div class="form-group form-inline">
                            <label for="address" class="pull-left">地区</label>
                            <div data-toggle="distpicker" class="row">
                                <select class="form-control col-md-2" name="province_address"></select>
                                <select class="form-control col-md-2" name="city_address"></select>
                                <select class="form-control col-md-2" name="area_address"></select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="lastname" class="control-label pull-left">地址</label>
                            <input type="text" class="form-control pull-left"  placeholder="请输具体地址" name="detailed_address" style="width: 95%; margin-bottom: 10px;">
                        </div>
                        
                        <div class="form-inline row" style="margin-top:10px;">
                            <div class="form-group col-md-12">
                                <label for="lastname" class="control-label pull-left">备注:</label>
                                <textarea class="form-control" style="width: 95%;margin-left: 5%;"></textarea>
                            </div>
                        </div> 
                        <!-- 提交更新表单 -->
                        <div class="form-group">
                        <input type="hidden" name="id" :value="edit.id">
                        <input type="submit" class="btn btn-info"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 编辑模态框结束-->
</div>
<script type="text/javascript">
//时间插件

//编辑框赋值
new Vue({
    el: "#mtk",
    data: {
        edit: [],
        // 显示编辑内容
        c_list: JSON.parse('{$companycate_list}'),
        stage_list:JSON.parse('{$companystage_list}'),
        source_list:JSON.parse('{$usersource_list}'),
        // 时间插件
        pickerOptions1: {
            disabledDate(time) {
                return time.getTime() > Date.now();
            }
        },
        value1: '',
        value2: '',
        threeoneshow:false,
        dinxin:'',
        dinji:'',
        dinliang:'',
        three_onechange:'选择'
    },
    methods: {
        getInfo: function(id) {
            var that = this;
            $.get("{:url('edit')}?id=" + id, function(rtnData) {
                that.edit = rtnData;
                console.log(that.edit);
            });

        }
    }


})
</script>
<script type="text/javascript"></script>
<!-- 地区选择插件 -->
<script type="text/javascript" src="__STATIC__/library/address/distpicker.js?126"></script>
{include file="foot"}