  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
  body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
  h1, h2, h3, h4, h5, h6{ font-size:100%; }
  address, cite, dfn, em, var { font-style:normal; }
  code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
  small{ font-size:12px; }
  ul, ol { list-style:none;}
  a{text-decoration:none!important;}
  a:hover{text-decoration:none!important;}
  sup { vertical-align:text-top; }
  sub{ vertical-align:text-bottom; }
  legend { color:#000;}
  /*设置提交表单的间距*/
  .spacing{margin-top: 5px;}
  fieldset, img { border:0; }
  button, input, select, textarea { font-size:100%; }
  table { border-collapse:collapse; border-spacing:0; }
  header{left: 0px;position: fixed;right: 0;top: 0px;z-index: 999;height: 60px;background: #f3f3f3;}
  header .logo{padding: 10px;}
  header .title .dropdown .btn{height: 60px;background: #f3f3f3;}
  header .title .dropdown .btn span{font-size: 16px;}
  header .title ul li a{font-weight: 400;overflow: hidden;width: 300px;}
  header .title ul li span{padding-top: 10px;color: #337ab7;padding-right: 5px;}
  header .title ul li h4{font-size: 15px;color: #505458;}
  header .title ul li p{font-size: 12px;color: #98a6ad;}
  header .breach{margin-top: 13px;}
  header .user_info{margin-top: 16px; width: 300px;}
  header .user_info .user_name{margin:5px 0 0 3px;display: inline-block;}
  header .user{width: 30px;height: 30px;background: #ccc;border-radius: 50%;position: relative;float: left;}
  header .user span{color: white;position: absolute;left: 7px;top: 7px;}
  .left_menu{width:80px;height: 1500px;background: #36404a;position: fixed;overflow: hidden;}
  .left_menu ul li{padding: 10px;text-align: center;border-left: #36404a 4px solid}
  .left_menu ul li a{color: white;font-size: 30px;text-align: center;}
  .left_menu ul li a:hover{text-decoration: none;text-align: center;}
  .left_menu ul li p{font-size: 12px;color: white;margin-top: 5px;}
  .left_menu.lbs .Maplist{margin-top: 50px}
  .left_menu.lbs .Maplist li a{font-size: 18px}
  .left_menu.lbs ul li:hover{
    border-left: #94c4fb 2px solid;
  }
  .left_menu.lbs ul li:hover .glyphicon{
    color:#94c4fb;
  }
  .left_menu.lbs ul li:hover p{
    color:#94c4fb;
  }
  .left_menu.lbs ul li a{
    text-decoration:none;
  }
  .container{background: #f4f8fb;height: 800px;}
  #allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
  #exit{
    border:none;background: none; margin-left: 30px; 
  }
  #exit:hover{
    text-decoration: underline;
    color:#98a6eb;
  } 
  