{include file="map_top"}
{include file="left"}
<div class="container" style="width:90%;margin-left:6.75%;background: #fff">
    <h3 style="">欢迎使用打天下</h3>
    <p>
        定位用户许可：
        <span class="text-primary m-r-10" style="color:#94c4fb">30</span>
        &nbsp;&nbsp;&nbsp;已经设置:
        <span class="text-primary m-r-10" style="color:#94c4fb">&nbsp;&nbsp;&nbsp;0</span>
    </p>
    <p> <strong>定位用户：</strong>
        <a href="">boss</a>
    </p>
    <p style="text-align: center;margin-top: 15 px"> <strong>打天下工作台-定位用户最近位置：</strong>
        图中定位点取用时间最新的数据(包含：拜访定位、照片定位、轨迹定位和考勤定位)
    </p>
    <div class="container"  style="width:100%;height:500px; margin-top:20px; border: 1px solid #ccc;background: #fff" >
        <div class="container" style="width:98.5%;height:460px;border: 1px solid #ccc; margin-top: 20px;overflow: hidden" >
            <div style="width:100%;height:100%">
                <div id="allmap" style="height: 100%;"></div>
                <h3 style="">欢迎使用打天下</h3>
                <p>
                    定位用户许可：
                    <span class="text-primary m-r-10" style="color:#94c4fb">30</span>
                    &nbsp;&nbsp;&nbsp;已经设置:
                    <span class="text-primary m-r-10" style="color:#94c4fb">&nbsp;&nbsp;&nbsp;0</span>
                </p>
                <p>
                    <strong>定位用户：</strong>
                    <a href="">boss</a>
                </p>
                <p style="text-align: center;margin-top: 15px">
                    <strong>打天下工作台-定位用户最近位置：</strong>
                    图中定位点取用时间最新的数据(包含：拜访定位、照片定位、轨迹定位和考勤定位)
                </p>
                <div class="container"  style="width:100%;height:500px; margin-top:20px; border: 1px solid #ccc;background: #fff" >
                    <div class="container" style="width:98.5%;height:460px;border: 1px solid #ccc; margin-top: 20px;overflow: hidden" >
                        <div style="width:100%;height:100%">
                            <div id="allmap"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" style="text-align: center;margin-top: 50px;">
                热线: <b>4000-80-4000 400-960-9606</b>
                &nbsp;&nbsp;网站: <b><a href="http://www.xtools.cn" target="_blank">www.xtools.cn</a></b> 
                &nbsp;
                <a class="btn btn-danger btn-xs" href="#" onclick="window.open ('http://www.xtools.cn/about/tousu.html', 'newwindow', 'height=410, width=540,top=100,left=200;toolbar=no, menubar=no, scrollbars=no, resizable=no,status=no');return false;"> <i class="fa fa-whatsapp m-r-5"></i>
                    投诉&amp;问题
                </a>
                &nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="#" onclick="showWX(0);return false;"> <i class="fa fa-weixin m-r-5"></i>
                    微客服
                </a>
                &nbsp;&nbsp;
                <a class="btn btn-primary btn-xs" href="#" onclick="showWX(1);return false;">
                    <i class="md md-speaker-notes m-r-5"></i>
                    订阅号
                </a>
                <br>
                Copyright © 2004-2017 &nbsp;北京沃力森信息技术有限公司&nbsp;&nbsp;  Beijing Volitation Information Technology Co.,ltd
            </footer>
            <!-- 底部 --> 
        </div>
</body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=RLG68MPH7d0OZMp6GM21BMWrPOqVRXFZ"></script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.setMapStyle({style:'hardedge'});
    var geolocation = new BMap.Geolocation();
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    geolocation.getCurrentPosition(function(r){
        var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
        var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
        var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮
        var overView = new BMap.OverviewMapControl();
        var overViewOpen = new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT});
        map.addControl(top_left_control);
        map.addControl(top_left_navigation);
        map.addControl(top_right_navigation);
        map.addControl(overView);          //添加默认缩略地图控件
        map.addControl(overViewOpen);      //右下角，打开
        map.centerAndZoom(new BMap.Point(r.longitude, r.latitude), 20);  //
        var marker2 = new BMap.Marker(new BMap.Point(r.longitude, r.latitude));
        map.addOverlay(marker2);
        marker2.enableDragging();
        marker2.addEventListener("dragging",getAttr);
        marker2.addEventListener("click",saveAttr);
        function getAttr(){
            var p = marker2.getPosition();       //获取marker的位置

        };
        function saveAttr(){
            var p = marker2.getPosition();
            if(confirm("亲爱的boss,"+"您目前的经度为："+p.lng+",纬度为："+p.lat+"确认签到吗")){
                    $.get('{:url("admin/map/addmap")}',{lng:p.lng,lat:p.lat});
            }//获取marker的位置         
    }

})
</script>
</html>