{include file="top"}
{include file="left"}
<style>
    .mik{
        margin-left: 86px;
        margin-top: 20px;
    }
    .list{
        margin-top: 0;
        margin-bottom: 10px;
        -webkit-padding-start: 10px;
        line-height: 1.8;
        padding-left: 25px;
    }
    a{
        color: #505458;
    }
</style>
<div class="mik">
    <ul class="list">
        <li><a href="#">设置说明</a></li>
        <li>
            权限设置
            <ul class="list">
                <li><a href="#">定位频率</a></li>
                <li><a href="#">定位用户</a></li>
                <li><a href="#">解除手机绑定</a></li>
            </ul>
        </li>
    </ul>
    <div>
        <p style="margin-left: 10px">打天下参数设置</p>
        <p>　　请点击左侧项目，设置打天下参数。</p>
    </div>
</div>
<footer class="footer" style="text-align: center; padding-top:10px; margin-top: 50px; border-top: 1px solid #ccc">
    热线: <b>4000-80-4000 400-960-9606</b>
    &nbsp;&nbsp;网站: <b><a href="http://www.xtools.cn" target="_blank">www.xtools.cn</a></b>
    &nbsp;
    <a class="btn btn-danger btn-xs" href="#" onclick="window.open ('http://www.xtools.cn/about/tousu.html', 'newwindow', 'height=410, width=540,top=100,left=200;toolbar=no, menubar=no, scrollbars=no, resizable=no,status=no');return false;"> <i class="fa fa-whatsapp m-r-5"></i>
        投诉&amp;问题
    </a>
    &nbsp;&nbsp;
    <a class="btn btn-default btn-xs" href="#" onclick="showWX(0);return false;"> <i class="fa fa-weixin m-r-5"></i>
        微客服
    </a>
    &nbsp;&nbsp;
    <a class="btn btn-primary btn-xs" href="#" onclick="showWX(1);return false;">
        <i class="md md-speaker-notes m-r-5"></i>
        订阅号
    </a>
    <br>
    Copyright © 2004-2017 &nbsp;北京沃力森信息技术有限公司&nbsp;&nbsp;  Beijing Volitation Information Technology Co.,ltd
</footer>