<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__static/index/common/css/top.css">
    <link rel="stylesheet" href="__PUBLIC__static/index/index/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__static/index/index/css/index.css?8">
    <link rel="stylesheet" type="text/css"   href="__PUBLIC__static/index/common/css/footer.css?1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
</head>
<body style="height: 100%">
<!-- 头部 -->
<div id="top" style="top: -70px" class="top">
    <a href="#" class="logo">
        <img src="__PUBLIC__static/index/index/images/logo.png" alt="">
    </a>
    <a href="#" class="contact-btn">免费注册</a>
    <ul>
        <li>产品</li>
        <li>新闻</li>
        <li>租用</li>
        <li>关于</li>
        <li style="color: #618ccc;">云登陆</li>
    </ul>
</div>
<!--登陆注册-->
<div class="head">
        <div class="log">
            <img src="__PUBLIC__static/index/index/images/logo-banner.png" alt="">
        </div>
        <div class="text">
            XToolsCRM
        </div>
        <div class="banner">
            <img src="__PUBLIC__static/index/index/images/banner1.png" alt="">
        </div>
        <h4 class="int">3万+企业, 50万Sales青睐之选</h4>
        <div class="login">
            <a href="#">登录 <span>PC/手机全能</span></a>
            <a href="#">免费注册 <span>30天亲身品鉴</span></a>
        </div>
    </div>
<!--6项全能-->
<div class="container1">
    <div class="logo">
        <img src="__PUBLIC__static/index/index/images/logo-banner.png" alt="">
    </div>
    <h3>什么是6项全能?</h3>
    <p>老板优先关注的是企业的盈利能力，有较好盈利增长，企业可以部署发展的战略。 适应发展战略，XTools为企业提供了弹性的软件部署：</p><br>
    <p style="color: #4c70d0;">①销售和客户管理的CRM ②通讯的整合采集，集成固话、手机、邮件等客户沟通 ③进销存 ④基于定位的外勤管理 ⑤专攻企业收支流水的电子账本 ⑥业绩联动的薪资工具</p>
    <div class="stack">
        <div class="stack_1 show animated" style="visibility: hidden; animation-name: none;">
            <a href="#">
                <img src="__PUBLIC__static/index/index/images/stack_1.jpg" alt="">
            </a>
        </div>
        <div class="stack_2 show Right animated" style="visibility: hidden; animation-name: none;">
            <a href="#">
                <img src="__PUBLIC__static/index/index/images/stack_2.jpg" alt="">
            </a>
        </div>
        <div class="stack_3 show Left animated" style="visibility: hidden; animation-name: none;">
            <a href="#">
                <img src="__PUBLIC__static/index/index/images/stack_3.jpg" alt="">
            </a>
        </div>
        <div class="stack_4 show Right animated" style="visibility: hidden; animation-name: none;">
            <a href="#">
                <img src="__PUBLIC__static/index/index/images/stack_4.jpg" alt="">
            </a>
        </div>
        <div class="stack_5 show Left animated" style="visibility: hidden; animation-name: none;">
            <a href="#">
                <img src="__PUBLIC__static/index/index/images/stack_5.jpg" alt="">
            </a>
        </div>
        <div class="stack_6 show Right animated" style="visibility: hidden; animation-name: none;">
            <a href="#">
                <img src="__PUBLIC__static/index/index/images/stack_6.jpg" alt="">
            </a>
        </div>
        <div class="stack_7 show animated" style="visibility: hidden; animation-name: none;">
            <img src="__PUBLIC__static/index/index/images/stack_7.png" alt="">
        </div>
    </div>
</div>
<!--提升盈利能力 和给销售团队一颗云大脑-->
<div class="fluid">
<div class="innovations">
    <div class="row">
        <span>6</span>
        <p>6项全能的CRM</p>
    </div>
    <div class="log2">
        <img src="__PUBLIC__static/index/index/images/logo-banner.png" alt="">
    </div>
    <div class="text">
        XToolsCRM
    </div>
    <h1>提升盈利能力</h1>
    <p>帮助企业优化销售过程和跟单质量,提升20%-50%盈利能力</p>
    <div class="layer">
        <img src="__PUBLIC__static/index/index/images/layer-1.png" alt="" class="layer1">
        <img src="__PUBLIC__static/index/index/images/layer-2.png" alt="" class="layer2">
        <img src="__PUBLIC__static/index/index/images/layer-3.png" alt="" class="layer3">
    </div>
    <div class="number">
        53行业32000+企业正在使用XToolsCRM，数据总量：
        <div class="aotuochange"></div>
    </div>
    <!--给销售团队一颗云大脑-->
    <div class="benefits">
        <h2>CRM：给销售团队一颗云大脑</h2>
        <p class="text">如何从跟单过程中提升签约率？如何建立公允竞争的团队规则？更多CRM功能亲自试用体验</p>
        <div class="row1">
            <div class="fadeIn">
                <div class="box">
                    <i class="icon-desktop icon-4x"></i>
                    <p class="title1">跟单神器: 客户视图</p>
                    <p>只用一个界面，解决9成跟单问题 <br> 5分钟掌握，零门槛</p>
                </div>
                <div class="box-back">
                    最大化挖掘客户价值
                </div>
            </div>
            <div class="fadeIn">
                <div class="box">
                    <i class="icon-thumbs-up icon-4x"></i>
                    <p class="title1">大单专用: 销售机会</p>
                    <p>从管理跟单结果进化到跟单过程<br> 面向阶段管控长单，有效！</p>
                </div>
                <div class="box-back">
                    提升大单签约率20%-50%
                </div>
            </div>
            <div class="fadeIn">
                <div class="box">
                    <i class="icon-paste icon-4x"></i>
                    <p class="title1">合同.订单.店面单.维修单</p>
                    <p>适应各种销售模型<br> 合约掌控，保障应收和交付</p>
                </div>
                <div class="box-back">
                    合约完美执行是客户认可的重要交互
                </div>
            </div>
            <div class="fadeIn">
                <div class="box">
                    <i class="icon-money icon-4x"></i>
                    <p class="title1">财务引擎</p>
                    <p>应收.已收.应付.已付 <br> 合约,回款,应收,客户动态财务数据</p>
                </div>
                <div class="box-back">
                    财务数据伴随销售全程优先保障盈利
                </div>
            </div>
            <div class="fadeIn">
                <div class="box">
                    <i class="icon-key icon-4x"></i>
                    <p class="title1">丰富工具</p>
                    <p>听说日报,客户公海,销售目标 <br> 光荣榜,知识库,SFA,线索挖掘</p>
                </div>
                <div class="box-back">
                    思路决定方向
                    <br>
                    工具决定效率
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--中小企业专业之选-->
<div class="bg-img">
<div class="row">
    <i class="icon-trophy"></i>
</div>
    <div class="color1">
        <img src="__PUBLIC__static/index/index/images/social_img1.png" alt="">
    </div>
    <div class="text2">
        <img src="__PUBLIC__static/index/index/images/social_img2.png" alt="">
    </div>
    <h2 class="color1">
        53个行业 3,2000+企业 超过500,000 Sales选用
    </h2>
    <p class="color2">中小企业专业之选</p>
    <div class="empty_space"></div>
</div>
<!--覆盖全通讯的集信-->
<div class="cti">
    <div class="container">
        <h2>CTI：覆盖全通讯的集信</h2>
        <p class="text">固话有录音，手机也行？短信也行？邮件也行？——集信：提供大集成的通信采集</p>
        <div class="row magrin">
            <div class="col-sm-3">
                <div class="cti-img animated" style="visibility: hidden; animation-name: none;">
                    <img src="__PUBLIC__static/index/index/images/cti1.png" alt="">
                </div>
                <p class="title">固定电话</p>
                      <p>使用X800来电盒，实现PC <br> 来电弹屏和电话录音</p>
            </div>
            <div class="col-sm-3">
                <div class="cti-img animated" style="visibility: hidden; animation-name: none;">
                    <img src="__PUBLIC__static/index/index/images/cti2.png" alt="">
                </div>
                <p class="title">安卓手机通话</p>
                      <p>自动采集与客户通话的单工录音</p>
            </div>
            <div class="col-sm-3">
                <div class="cti-img animated" style="visibility: hidden; animation-name: none;">
                    <img src="__PUBLIC__static/index/index/images/cti3.png" alt="">
                </div>
                <p class="title">安卓手机短信</p>
                      <p>自动采集与客户的往来短信</p>
            </div>
            <div class="col-sm-3">
                <div class="cti-img animated" style="visibility: hidden; animation-name: none;">
                    <img src="__PUBLIC__static/index/index/images/cti4.png" alt="">
                </div>
                <p class="title">邮件</p>
                      <p>自动获取绑定邮箱和 <br> 客户的往来邮件</p>
            </div>
        </div>
        <p class="text1">完整通信采集，自动汇入时间线；通信排名和统计成就数据化管理</p>
    </div>
</div>
<!--基于定位的外勤管理-->
<div class="bs">
    <div class="container">
        <div class="row1">
            <i class="icon-map-marker"></i>
            <p>外勤行销</p>
        </div>
        <h2>LBS：基于定位的外勤管理-打天下</h2>
        <p class="text1">到位！只有到位,才能更多拿订单！唯有到位,才能获取更多客户信任; 用打天下,外勤调度及时高效！</p>
        <div class="magrin">
            <div class="col-md-3">
                <p class="txt bounceIn" style="visibility:hidden; animation-name: none">人员位置，外勤轨迹</p>
                <p class="text-left">动态调度最近人力，加速客户响应轨迹 <br> 记录行程，优化行动路线</p>
            </div>
            <div class="col-md-3">
                <p class="txt bounceIn" style="visibility:hidden; animation-name: none">周边客户</p>
                <p class="text-left">随时查看周边客户 <br> 一次外勤覆盖多家客户</p>
            </div>
            <div class="col-md-3">
                <p class="txt bounceIn" style="visibility:hidden; animation-name: none">差旅神器</p>
                <p class="text-left">前：出差申请，费用借支 <br> 中：差旅日志,每天费用明细 <br> 后：出差总结，报账冲销</p>
            </div>
            <div class="col-md-3">
                <p class="txt bounceIn" style="visibility:hidden; animation-name: none">外勤工单</p>
                <p class="text-left">拜访，送货，维修养护等上门服务适用 <br> 记录人员位置时间回款和使用备件</p>
            </div>
        </div>
    </div>
    <div class="empty_space"></div>
</div>
<!--为老板设计的电子账本-->
<div class="acc">
    <div class="container">
        <div class="log">
            <img src="__PUBLIC__static/index/index/images/logo-banner.png" alt="">
        </div>
        <div class="text">
            XToolsCRM
        </div>
        <h2>ACC：为老板设计的电子账本</h2>
        <p>老板肯定关心盈利情况，但是70%的老板都不喜欢看三大报表; 太复杂！不直接！不及时！</p>
        <div class="row">
            <div class="col-sm-3">
                <div class="acc_border animated" style="visibility: hidden; animation-name: none;">
                    <div class="acctop">
                        <img src="__PUBLIC__static/index/index/images/acc_img1.png" alt="">
                        <p>保持纸账阅读习惯，零学习成本</p>
                    </div>
                    <div class="acc_footer">
                        <div class="pull-left">
                            <img src="__PUBLIC__static/index/index/images/acc_icon1.png" alt="">
                        </div>
                        <div class="acc_text">仿真电子账本</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="acc_border animated" style="visibility: hidden; animation-name: none;">
                    <div class="acctop">
                        <img src="__PUBLIC__static/index/index/images/acc_img2.png" alt="">
                        <p>老板看得懂，盈亏了于胸 <br> 这是最真实的企业收支 <br> 你懂的</p>
                    </div>
                    <div class="acc_footer">
                        <div class="pull-left">
                            <img src="__PUBLIC__static/index/index/images/acc_icon2.png" alt="">
                        </div>
                        <div class="acc_text">专攻流水和盈亏</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="acc_border animated" style="visibility: hidden; animation-name: none;">
                    <div class="acctop">
                        <img src="__PUBLIC__static/index/index/images/acc_img3.png" alt="">
                        <p>分布分析、同比环比的趋势分析 <br> 全是自动的！财务MM不再抱怨</p>
                    </div>
                    <div class="acc_footer">
                        <div class="pull-left">
                            <img src="__PUBLIC__static/index/index/images/acc_icon3.png" alt="">
                        </div>
                        <div class="acc_text">精于分析</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="acc_border animated" style="visibility: hidden; animation-name: none;">
                    <div class="acctop">
                        <img src="__PUBLIC__static/index/index/images/acc_img4.png" alt="">
                        <p>国内只有XTools有这样 <br> 懂老板的软件</p>
                    </div>
                    <div class="acc_footer">
                        <div class="pull-left">
                            <img src="__PUBLIC__static/index/index/images/acc_icon4.png" alt="">
                        </div>
                        <div class="acc_text">独此一家</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--薪资管理-->
<div class="xzgl">
    <div class="row_badge2">
        <img src="__PUBLIC__static/index/index/images/xzgl_icon.png" alt="">
        <p>薪资管理</p>
    </div>
    <div class="row">
        <div class="col-sm-6 xzgl_img1">
            <div class="box2">
                <div class="box_left">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon1.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon2.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon3.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon4.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon5.png" alt="">
                </div>
                <div class="box_right">
                    <p>薪资自动公式，增项减项 <br> 自动合计自动算税</p>
                    <p class="title">公式化，自动化</p>
                </div>
            </div>
            <div class="box2">
                <div class="box_left">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon1.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon2.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon3.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon4.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon5.png" alt="">
                </div>
                <div class="box_right">
                    <p>审批发放流程化傻瓜化 <br> 支持年终奖和算税</p>
                    <p class="title">流程化，傻瓜化</p>
                </div>
            </div>
            <div class="box2">
                <div class="box_left">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon1.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon2.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon3.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon4.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon5.png" alt="">
                </div>
                <div class="box_right">
                    <p>读取销售业绩和任务完成<br> 指标</p>
                    <p class="title">业绩联动</p>
                </div>
            </div>
            <div class="box2">
                <div class="box_left">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon1.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon2.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon3.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon4.png" alt="">
                    <img src="__PUBLIC__static/index/index/images/xzgl_icon5.png" alt="">
                </div>
                <div class="box_right">
                    <p>人员薪资调整历史视图<br> &nbsp;</p>
                    <p class="title">历史回溯</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 xzgl_img2">
            <h2>薪资管理</h2>
            <p>老板和财务省心省力，奖金和业绩联动</p>
        </div>
    </div>
</div>
<!--产品|库存-->
<div class="cp">
    <div class="row">
        <div class="col-sm-6 kc">
            <img src="__PUBLIC__static/index/index/images/cpkc_img1.png" alt="">
            <img src="__PUBLIC__static/index/index/images/cpkc_img2.png" alt="">
            <img src="__PUBLIC__static/index/index/images/cpkc_img3.png" alt="">
        </div>
        <div class="col-sm-6 cpkc">
            <h2>
                <span>产品</span>
                <span class="shu">|</span>
                <span>库存</span>
            </h2>
            <ul class="cpkc_list">
                <li>
                    <img src="__PUBLIC__static/index/index/images/cpkc_icon1.png" alt="">
                    <p class="color1">丰富的产品和库管功能：</p>
                    <p class="color2">多仓库•多SKU•调拔•盘点•出入库流水•预警 装配 ……</p>
                    <p class="color3">功能太强大，请电询...</p>
                </li>
                <li>
                    <img src="__PUBLIC__static/index/index/images/cpkc_icon2.png" alt="">
                    <p class="color1">自动成本，计算毛利：</p>
                    <p class="color2">支持先进先出算法•加权平均算法</p>
                </li>
                <li>
                    <img src="__PUBLIC__static/index/index/images/cpkc_icon3.png" alt="">
                    <p class="color1">帮您找到：</p>
                    <p class="color2">销售增长最快产品【潜力】</p>
                    <p class="color2">毛利最大产品【赚钱】</p>
                    <p class="color2">销量最大产品【现金流】</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--价值：全能提升-->
<div class="jz">
    <div class="container">
        <div class="row_badge2">
            <img src="__PUBLIC__static/index/index/images/jz_icon1.png" alt="">
            <p>价值</p>
        </div>
        <h2>价值：全效能提升！</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="animated">
                    <img src="__PUBLIC__static/index/index/images/jz_img1.png" alt="">
                    <div class="caption">
                        <p class="title1">学习和成长</p>
                        <p class="title2">业务过程重现找到人员能力短板，知识库显像行业技能主观分析的日报促进成长！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="animated">
                    <img src="__PUBLIC__static/index/index/images/jz_img2.png" alt="">
                    <div class="caption">
                        <p class="title1">各部门协作畅通</p>
                        <p class="title2">一个客户一个界面，各部协同进度共享互相辅助环环相扣！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="animated">
                    <img src="__PUBLIC__static/index/index/images/jz_img3.png" alt="">
                    <div class="caption">
                        <p class="title1">良性的团队竞争</p>
                        <p class="title2">各种排名，目标完成，光荣榜，促进形成良性竞争机制，激发团队活力！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="animated">
                    <img src="__PUBLIC__static/index/index/images/jz_img4.png" alt="">
                    <div class="caption">
                        <p class="title1">跟单过程实时透明</p>
                        <p class="title2">发现问题及时纠正，看到风险随时支援遇到大单立即部署！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--盈利能力-->
<div class="yl">
    <div class="contllor">
        <h2>增加20%-50%盈利能力！</h2>
        <div class="row yl_img">
            <div  class="col-sm-3 odiv">
                <img class="oimg" src="__PUBLIC__static/index/index/images/yl_img1.jpg" alt="">
            </div>
            <div class="col-sm-6 odiv">
                <img class="oimg" src="__PUBLIC__static/index/index/images/yl_img2.jpg" alt="">
            </div>
            <div class="col-sm-3 odiv">
                <img class="oimg" src="__PUBLIC__static/index/index/images/yl_img3.jpg" alt="">
            </div>
        </div>
        <div class="row yl_bg">
            <div class="col-sm-3 border-right">
                <p class="title">
                    过程管控提升签约率
                </p>
                <p class="title2">
                    研究表明：过程管理比结果管理至少提升签约率
                    <br>
                    20到50个百分点
                </p>
            </div>
            <div class="col-sm-3 border-right">
                <p class="title">
                    财务引擎保障应收款
                </p>
                <p class="title2">
                    收回该收的钱，是成本最低的增长，智能应收
                    <br>
                    可有效降低呆账比例3成以上
                </p>
            </div>
            <div class="col-sm-3 border-right">
                <p class="title">
                    有效透明的奖金杠杆
                </p>
                <p class="title2">
                    来自CRM数据的自动奖金计算，让销售团队透明竞争、目标明确、干劲十足！
                </p>
            </div>
            <div class="col-sm-2 border-right">
                <p class="title">
                    基于数据分析的企业智能
                </p>
                <p class="title2">
                    销售预测，各种同比环比的趋势分析让管理层
                    <br>
                    在竞争中总能领先一步
                </p>
            </div>
        </div>
    </div>
</div>
<!--合作企业-->
<div class="kh">
<h3>即刻加入XTools，与32000+企业一起体验全新的工作方式</h3>
    <ul class="kh_logo">
        <li>
            <img src="__PUBLIC__static/index/index/images/kh_logo1.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo2.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo3.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo4.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo5.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo6.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo7.png" alt="">
        </li>
        <li>
            <img src="__PUBLIC__static/index/index/images/kh_logo8.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo9.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo10.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo11.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo12.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo13.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo14.png" alt="">
        </li>
        <li>
            <img src="__PUBLIC__static/index/index/images/kh_logo15.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo16.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo17.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo18.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo19.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo20.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo21.png" alt="">
        </li>
        <li>
            <img src="__PUBLIC__static/index/index/images/kh_logo22.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo23.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo24.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo25.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo26.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logo27.png" alt="">
            <img src="__PUBLIC__static/index/index/images/kh_logoend.png" alt="">
        </li>
    </ul>
</div>
<!--尾部-->
<div class="footer">
    <div id="lj">
        <div class="container">
            <ul class="lj_link">
                <li>
                    <p>新手上路</p>
                    <p><a href="tech/index.html" class="color6">视频讲堂</a><br><a href="/news/prall.html">功能全图</a></p>
                </li>
                <li>
                    <p>关于产品</p>
                    <p><a href="chanpin/crm.html">产品简介</a><br><a href="http://crm.xtcrm.com/demo" target="_blank">产品演示</a><br><a href="privacy/index.html">数据安全</a><br><a href="product/update.html" class="color6">升级历史</a><br><a href="http://new.xtools.cn/special/arc-922.html">行业应用</a><br><a href="video/index.html">视频案例</a></p>
                </li>
                <li>
                    <p>关于我们</p>
                    <p><a href="honor/index.html" class="color6">品牌荣誉</a><br><a href="about/index.html#02" class="color6">成长历史</a><br><a href="about/index.html">关于我们</a><br><a href="tech/cctv10.html">央视报道</a><br><a href="about/index.html#01">联系我们</a></p>
                </li>
                <li>
                    <p>培训服务</p>
                    <p><a href="tech/index.html#01">电话培训</a><br><a href="tech/index.html#02">在线培训</a><br><a href="http://xtools.cenwave.com ">视频会议培训</a><br><a href="tech/index.html#03">flash应用教程</a></p>
                </li>
                <li>
                    <p>如何租用</p>
                    <p><a href="buy/index.html" class="color6">购买/续费</a></p>
                </li>
                <li>
                    <p>加盟合作</p>
                    <p><a href="cooperate/zhaoshang/index.html">代理分销</a><br><a href="cooperate/index.html">业务合作</a></p>
                </li>

                <li>
                    <a class="bton" href="https://zx.xtcrm.com/superman/login.xt">个人版登录</a>
                    <a class="bton" href="http://www.xtcrm.com">企业版登录</a>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        北京沃立森德软件技术有限公司 Beijing Volitation Information Technology Co., Ltd <br>
        京ICP证110265 　京公网安备110108003568号 <br>
        6项全能的企业智慧云　XTools企业维生素®始于2004 服务电话：<font>4000-80-4000 400-960-9606</font> (24小时)
    </footer>
</div>
</body>
</html>
<script>
    $(window).bind("scroll", function () {
        var sTop = $(window).scrollTop();
        var sTop = parseInt(sTop);
        var x=$(".container1").offset().top
        console.log(x)
        if (sTop<=0){
            $("#top").css("top","-70px")
        }else {
            $("#top").css("top","0px")
        }
        if (sTop>x){
            $(".show").css("visibility","visible")
            $(".stack_1").css("animation-name","bounceInUp")
            $(".Right").css("animation-name","fadeInRight")
            $(".Left").css("animation-name","fadeInLeft")
            $(".stack_7").css("animation-name","zoomIn")
        }
        if (sTop>$(".color1").offset().top){
            $(".cti-img").css("visibility","visible")
            $(".cti-img").css("animation-name","rotateIn")
        }
        if (sTop>$(".magrin").offset().top){
            $(".txt").css("visibility","visible")
            $(".txt").css("animation-name","bounceIn")
        }
        if (sTop>$(".acc").offset().top){
            $(".acc_border").css("visibility","visible")
            $(".acc_border").css("animation-name","fadeInDown")
        }
        if (sTop>$(".jz").offset().top){
            $(".oimg").animate({"margin-right" : "0px"})
        }
    })
</script>