{include file="top"}
<div id="wrapper" class="enlarged forced">
	<div class="container-fluid">
		&nbsp;
		<form method="POST" action="{:url('acc/index')}">
			<h4 style="text-align:center;">
				<img src="__STATIC__/admin/acc/images/acclogo.gif" style="vertical-align: baseline;">
				<br> <b class="m-l-10">XTools</b>
				电子账本（简称： <b>XToolsACC</b>
				）
			</h4>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">专门为老板和管理层设计的财务工具</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>所有老板都关心企业盈利！</li>
						<li>传统财务软件三大报表不易看懂，且并不直观！</li>
						<li>
							<b>XToolsACC是一个电子化的帐本，专门记录每天实际发生的收入支出流水账。</b>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">电子账本，比财务软件更适合管理层</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>面向每天的财务流水，具有：记账、看账、分析账的功能</li>
						<li>模拟手工帐本，零学习成本。精于分析：同比环比用趋势发现问题</li>
						<li>提供审核后不可变更功能，可靠的历史流水</li>
						<li>价值：提供一个老板们看得懂、容易用、安全的财务流水账目。</li>
					</ul>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">XToolsACC租用价格：每公司每月50元</h3>
				</div>
				<div class="panel-body" style="text-align:center;">
					<p>
						<input type="submit" value="初始化：设置账本和权限，启用XToolsACC&gt;&gt;" name="B1" class="btn btn-d">
					</p>
				</div>
			</div>

		</form>
		<footer class="footer" style="text-align: center;">
			热线:
			<b>4000-80-4000 400-960-9606</b>
			&nbsp;&nbsp;网站:
			<b><a  target="_blank">www.xtools.cn</a></b> 
			&nbsp;
			<a class="btn btn-danger btn-xs"> <i class="fa fa-whatsapp m-r-5"></i>
				投诉&amp;问题
			</a>
			&nbsp;&nbsp;
			<a class="btn btn-default btn-xs"> <i class="fa fa-weixin m-r-5"></i>
				微客服
			</a>
			&nbsp;&nbsp;
			<a class="btn btn-primary btn-xs" >
				<i class="md md-speaker-notes m-r-5"></i>
				订阅号
			</a>
		</footer>
</body>
</html>