<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云登录-XToolsCRM-企业智慧云6项全能尽在掌控！</title>
    <meta name="description"
          Content="XTools企业维生素软件为中小企业提供CRM客户关系管理系统,CRM客户管理系统,CRM销售管理软件,帮助中小企业在合同订单,客服,项目,漏斗,库存,销售分析,销售跟踪等领域独占鳌头.15000家企业客户选择的CRM:4000-80-4000 400-960-9606。中文地区第一品牌的销售管理客户管理CRM软件。">
    <meta name="keywords" Content="CRM客户关系管理系统,CRM客户管理系统,CRM销售管理软件,XToolsCRM企业维生素软件,XTools">
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <script src="__PUBLIC__static/index/login/js/jquery.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="__PUBLIC__static/index/login/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__static/index/login/css/free.css"/>
    <link rel="stylesheet" href="__PUBLIC__static/index/login/css/css.css"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
{include file="top"}
<header id="one">
	<div id="container-fluid">
		<div class="col-sm-5 col-lg-offset-4">
			<p class="text-center m-t-65 m-b-35">
				<img src="__PUBLIC__static/index/login/img/login_img.png"></p>
			<div class="login-box">
				<ul class="nav nav-tabs" role="tablist" id="myTabs">
					<li role="presentation" class="active">
						<a href="#form_1" aria-controls="form_1" role="tab" data-toggle="tab">账号登陆</a>
					</li>
					<li role="presentation" class="">
						<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">USBkey</a>
					</li>
					<li role="presentation" class="">
						<a href="#form_3" aria-controls="form_3" role="tab" data-toggle="tab">注册账号</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="form_1">
						<form action="{:url('index/login/loginin')}" method="POST" id="login" autocomplete="off" onsubmit="return false">
						
							<input type="hidden" value="">
							<input type="hidden" value="">
							<div class="form-group">
								<input type="text" class="form-control" id="user" name="user_name" v-model="logininfo" placeholder="用户名" autocomplete="off"></div>
							<div class="form-group">
								<input type="text" class="form-control" id="com" name="company_name" v-model="logincompany" placeholder="公司登录名" autocomplete="off"></div>
							<div class="form-group">
								<input type="text" onfocus='this.type="password"' class="form-control" id="pass" name="password" placeholder="密码" onpaste="return false;" autocomplete="off" v-model="loginpassword"></div>
							<div class="text-left">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" checked value="1" >保存用户信息</label>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox2"  value="1">登录后先测速</label>
							</div>
							<button @click="loginin()" class="btn btn-blue" id="B1" >登录</button>
							<span class="colorTip colorTip1">
								<span style="display: none;" id="error_1">
									错误提示
									<br>
									错误提示
									<br>错误提示</span>
								<span class="pointyTipShadow"></span>
								<span class="pointyTip"></span>
							</span>
						</form>
						<p >
							<a href="http://www.xtcrm.com/qqconnect/oauth/index.xt" target="_blank" class="qq">
								<img src="__PUBLIC__static/index/login/img/cus_icon4.png"></a>
							<a href="http://www.xtcrm.com/weixin/wxlogin.xt" target="_blank" class="wx">
								<img src="__PUBLIC__static/index/login/img/cus_icon6.png"></a>
					</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
					<p>USBkey只能在客户端登录程序使用</p>
					<p>
						<a href="http://www.xtcrm.com/help/Setup.rar" rel="nofollow">
							<img src="__PUBLIC__static/index/login/img/keysample.png" alt="点此下载安全登录客户端"></a>
					</p>
					<p>
						<a href="http://www.xtcrm.com/help/Setup.rar" rel="nofollow">请下载安装</a>
					</p>
					<p>不支持Plus版</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="form_3">
					<form id="login2" action="{:url('index/login/reg')}" method="POST"   onsubmit="return false">
						<div class="form-group">
							<input type="text" class="form-control" id="user2" name="user_name" v-model="reginfo" placeholder="用户名" autocomplete="off"></div>
						<div class="form-group">
							<input type="text" class="form-control" id="com2" name="company_name" v-model="regcompany"
							value="" placeholder="公司登录名" autocomplete="off">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pass2" name="password" placeholder="密码" onpaste="return false;" v-model="regpassword"></div>
						<div class="form-group">
							<input type="password" class="form-control" id="pass3"  placeholder="再次输入密码" onpaste="return false;" v-model="regpassword2"></div>
						<div class="form-group">
							<label>用户类型</label>
							<select name="user_cate" v-model="regcate">
								<option value="老板">老板</option>
								<option value="员工">员工</option>
								<option value="老师">老师</option>
								<option value="学生">学生</option>
							</select>
						</div>
						<button type="submit" class="btn btn-blue"  value="" @click="doreg()">注册</button>
						<span class="colorTip colorTip2">
							<span style="display: none;" id="error_2">
								错误提示
								<br>
								错误提示
								<br>错误提示</span>
							<span class="pointyTipShadow"></span>
							<span class="pointyTip"></span>
						</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</header>

<footer>
<p class="color1">服务电话：4000-80-4000 400-960-9606(24小时)　　企业QQ：4000-80-4000</p>
<p>
京ICP证110265 　京公网安备110108003568号
<br>
XTools企业维生素 <sup>&reg;</sup>
始于2004
</p>
<div class="container-fluid">
<div class="row">
	<div class="col-sm-6">
		<div class="box">
			<p class="text">XTools CRM系统、CRM软件 懂业务的销售管理平台</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XTools CRM 系统和CRM客户管理系统作为懂业务的销售管理平台，为企业用户提供先进、全面的销售管理解决方案。互联网与移动互联网平台的多网络模式服务，针对企业业务的特点，在售前、售中、售后三个阶段提供国内优质的在线 CRM系统、CRM 软件和客户管理系统服务。XTools CRM 系统、CRM软件和客户管理系统深耕国内中小企业业务特点，从销售机会、线索挖掘分配、签订协议、库存管理、薪资管理，为中小企业打造一站式的管理软件服务。
			</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="box">
			<p class="text">XTools CRM系统、CRM软件手机版 移动办公平台</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XTools CRM软件销售管理和CRM客户管理系统平台是基于云计算模式的在线服务,包括CRM、呼叫中心、邮件、短信、即时通讯等多种全面的销售模型。另外, XTools CRM系统、CRM软件和客户管理系统不同的销售工具共享数据平台,信息准确、互联互通。XTools CRM系统、CRM软件和客户管理系统同时提供移动办公平台,针对销售型与服务型企业打造移动销售工具。XTools CRM系统、CRM软件和客户管理系统还有多种移动App服务解决中小企业的移动办公需求。
			</p>
		</div>
	</div>
</div>
</div>
</footer>



<script src="__PUBLIC__static/index/login/js/jquery-1.8.2.min.js"></script>
<script src="__PUBLIC__static/index/login/js/bootstrap.min.js"></script>
<script type="text/javascript">
var login = new Vue({
   el: '#container-fluid',
   data: {
   	logininfo:'',
   	logincompany:'',
   	loginpassword:'',
   	reginfo:'',
   	regcompany:'',
   	regcate:'',
   	regpassword:'',
   	regpassword2:'',
   },
   methods:
   {
   	loginin:function(){
      $.get('{:url("index/login/loginin")}',{user_name:this.logininfo,company_name:this.logincompany,password:this.loginpassword},(rtnData)=>{
      	if(rtnData===true){
      		this.$alert('登录成功，点击确定即将跳转到CRM界面......',  {
          confirmButtonText: '确定',
          callback: action => {
            this.$message({
              type: 'info',
              center:true,
              showClose:false,
            });
            window.location.href="{:url('admin/index/index')}";
          }

        });
      	}
      	else
      		this.$message.error('账号或密码错误，请重新输入');
      });
   	},
   	doreg:function(){

    if(this.reginfo ==  null || this.reginfo == ''){
         this.$message.error('账号名不能为空');
         return false;
    }
    if(this.regcompany ==  null || this.regcompany == ''){
         this.$message.error('公司名不能为空');
         return false;
    }
    if(this.regpassword ==  null || this.regpassword == ''){
         this.$message.error('密码不能为空');
         return false;
    }
    if(this.regpassword !=  this.regpassword2){
         this.$message.error('两次密码不一致');
         return false;
    }
    else{
       $.get('{:url("index/login/reg")}',{user_name:this.reginfo,company_name:this.regcompany,password:this.regpassword,user_cate:this.regcate},(rtnData)=>{
      	if(rtnData===true){
      		this.$alert('注册成功，点击确定即将跳转到登录界面......',  {
          confirmButtonText: '确定',
          callback: action => {
            this.$message({
              type: 'info',
              center:true,
              showClose:false,
            });
            window.location.href="{:url('index/login/index')}";
          }
        });
      	}
      	else
      		this.$message.error('账号已存在，请修改注册用户名');
      });
    }
   		
   	}
   }
})

    $(function () {
        var errorinfo = '';
        var login_type = '';
		
        if (errorinfo != '') {
            if (login_type == 'opt') {
                $('#error_2').html(errorinfo);
                $('#error_2').css({"display": "block"});
            } else {
                $('#error_1').html(errorinfo);
                $('#error_1').css({"display": "block"});
            }
        }
    });



     
</script>

</body>

</html>
