
<link rel="stylesheet" type="text/css"  href="__PUBLIC__static/index/common/css/footer.css?4">
<div class="footer">
    <div id="lj">
        <div class="container">
            <ul class="lj_link">
                <li>
                    <p>新手上路</p>
                    <p><a href="tech/index.html" class="color6">视频讲堂</a><br><a href="/news/prall.html">功能全图</a></p>
                </li>
                <li>
                    <p>关于产品</p>
                    <p><a href="chanpin/crm.html">产品简介</a><br><a href="http://crm.xtcrm.com/demo" target="_blank">产品演示</a><br><a href="privacy/index.html">数据安全</a><br><a href="product/update.html" class="color6">升级历史</a><br><a href="http://new.xtools.cn/special/arc-922.html">行业应用</a><br><a href="video/index.html">视频案例</a></p>
                </li>
                <li>
                    <p>关于我们</p>
                    <p><a href="honor/index.html" class="color6">品牌荣誉</a><br><a href="about/index.html#02" class="color6">成长历史</a><br><a href="about/index.html">关于我们</a><br><a href="tech/cctv10.html">央视报道</a><br><a href="about/index.html#01">联系我们</a></p>
                </li>
                <li>
                    <p>培训服务</p>
                    <p><a href="tech/index.html#01">电话培训</a><br><a href="tech/index.html#02">在线培训</a><br><a href="http://xtools.cenwave.com ">视频会议培训</a><br><a href="tech/index.html#03">flash应用教程</a></p>
                </li>
                <li>
                    <p>如何租用</p>
                    <p><a href="buy/index.html" class="color6">购买/续费</a></p>
                </li>
                <li>
                    <p>加盟合作</p>
                    <p><a href="cooperate/zhaoshang/index.html">代理分销</a><br><a href="cooperate/index.html">业务合作</a></p>
                </li>

                <li>
                    <a class="bton" href="https://zx.xtcrm.com/superman/login.xt">个人版登录</a>
                    <a class="bton" href="http://www.xtcrm.com">企业版登录</a>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        北京沃立森德软件技术有限公司 Beijing Volitation Information Technology Co., Ltd <br>
        京ICP证110265 　京公网安备110108003568号 <br>
        6项全能的企业智慧云　XTools企业维生素®始于2004 服务电话：<font>4000-80-4000 400-960-9606</font> (24小时)
    </footer>
</div>
</body>
</html>