
<link rel="stylesheet" type="text/css"  href="__PUBLIC__static/index/common/css/top.css">
<div id="top" class="top">
    <a href="{:url('index/index')}" class="logo"><img src="__PUBLIC__static/index/index/images/logo.png" alt=""></a>
    <a href="#" class="contact-btn">免费注册</a>
    <ul>
        <li><a href="{:url('business/index')}">产品</a></li>
        <li><a href="{:url('news/index')}">新闻</a></li>
        <li><a href="javascript:;">租用</a></li>
        <li><a href="javascript:;">关于</a></li>
        <li><a href="{:url('login/index')}" style="color: #618ccc;">云登陆</a></li>
    </ul>
</div>