body{background:#ccc;}
.title{background:#fff;padding:10px 0;}
.title{text-align:center;}
.container{background:#fff;margin-top:20px;}
.container .group{padding:20px 0;}
.container .fifle{width:100%;height:10px;background:#ccc}