<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>XTools掌中宝-产品-XToolsCRM企业维生素软件官网</title>
	<meta name="description" Content="XTools企业维生素软件,CRM,客户关系管理,客户管理,移动办公,掌中宝,xtools掌中宝,中小企业管理软件,移动crm,在线CRM软件,月租CRM,托管CRM领导品牌。销售跟踪,合同订单,客服,项目,漏斗,库存,销售分析。15000家企业客户选择的CRM:4000-80-4000 400-960-9606。销售管理客户管理CRM软件。">
	<meta name="keywords" Content="XTools企业维生素软件,CRM,客户关系管理,客户管理,移动办公,掌中宝,xtools掌中宝,中小企业管理软件,移动crm,在线CRM软件,月租CRM,托管CRM领导品牌。销售跟踪,合同订单,客服,项目,漏斗,库存,销售分析。15000家企业客户选择的CRM:4000-80-4000 400-960-9606。销售管理客户管理CRM软件，免费注册即用">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/phone/css/zzb.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/phone/css/css.css">
	<script type="text/javascript">
			function showTipsInfo(sID) {
				document.getElementById("div" + sID).style.display = "block";
			}

			function hideTipsInfo(sID) {
				document.getElementById("div" + sID).style.display = "none";
			}
		</script>
</head>

<body>
	<!-- 头部 -->
	{include file="top"}
	<div id="banner">
		<img src="__PUBLIC__static/index/phone/img/bannerzzb.png" border="0" />
	</div>
	<div id="center">
		<p class="bt1">掌控大局的销售全动态</p>
		<p align="center">
			<img src="__PUBLIC__static/index/phone/img/zzbimg_4.png" border="0" />
		</p>
		<p class="bt1">前所未见的人人视图，穿透式扁平化管理</p>
		<p align="center">
			<img src="__PUBLIC__static/index/phone/img/zzbimg_5.png" border="0" />
		</p>
		<p class="bt1">Sales助理，高频场景闪电集成</p>
		<p align="center">
			<img src="__PUBLIC__static/index/phone/img/zzbimg_6.png" border="0" />
		</p>
		<p class="bt1">摇一摇：PC手机多屏互动，短信、任务随身行</p>
		<p>
			<img src="__PUBLIC__static/index/phone/img/zzbimg_1.png" border="0" />
		</p>

		<p class="bt1">集信：商务通信自动采集，重要沟通收入云端</p>
		<p>
			<img src="__PUBLIC__static/index/phone/img/zzbimg_2.png" border="0" />
		</p>
		<p class="bt1">扫一扫：扫码打开客户视图</p>
		<p>
			<img src="__PUBLIC__static/index/phone/img/zzbimg_3.png" border="0" />
		</p>
		<p class="bt1">速建客户：专为POP导购设计，留住每一个进店客户</p>
		<p>
			<img src="__PUBLIC__static/index/phone/img/sjkh.png" border="0" />
		</p>

		<div class="left">

			<p class="bt1">说日报：日报不用写,边说边识别</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/sayrb_03.png" border="0" />
			</p>
			<p class="bt1">听日报：老板,就要听日报</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/zzb_trb.png" border="0" />
			</p>
			<p class="bt1">拍名片：名片随手拍,客户及时加</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg17.png" border="0" />
			</p>
			<p class="bt1">工作台：销售数据+查询+待办提醒</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg.png" border="0" />
			</p>
			<p class="bt1">客户列表：支持直接拨打电话发邮件</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg3.png" border="0" />
			</p>
			<p class="bt1">销售机会：动态把握大单跟进</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg5.png" border="0" />
			</p>
			<p class="bt1">合约：签约回款一目了然</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg7.png" border="0" />
			</p>
			<p class="bt1">手机下单：产品明细轻松点击</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg9.png" border="0" />
			</p>
			<p class="bt1">产品：图片单价库存列表</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg11.png" border="0" />
			</p>
			<p class="bt1">销售目标：支持查看某用户或某部门</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg13.png" border="0" />
			</p>
		</div>
		<div class="right">
			<p style=" padding-left:20px; margin:110px 0px 40px;">&nbsp;&nbsp;</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/sayrb_04.png" border="0" />
			</p>
			<p style="margin-top:125px;">
				<img src="__PUBLIC__static/index/phone/img/zzb_trb01.png" border="0" />
			</p>
			<p class="bt1">你说我查：语音查客户,方便又快速</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg16.png" border="0" />
			</p>
			<p class="bt1">菜单：业务/推进/协作</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg2.png" border="0" />
			</p>
			<p class="bt1">视图：客户跟进强力工具</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg4.png" border="0" />
			</p>
			<p class="bt1">漏斗：技术型售前分析工具</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg6.png" border="0" />
			</p>
			<p class="bt1">订单明细：合约产品明细查询</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg8.png" border="0" />
			</p>
			<p class="bt1">选产品：支持分类和查询</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg10.png" border="0" />
			</p>
			<p class="bt1">产品视图：参数规格详细信息</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg12.png" border="0" />
			</p>
			<p class="bt1">高级查询：实现复杂参数查询</p>
			<p>
				<img src="__PUBLIC__static/index/phone/img/dtximg14.png" border="0" />
			</p>
		</div>
	</div>
	<div class="gd"></div>
	<div id="zj">
		<img src="__PUBLIC__static/index/phone/img/dtximg15.png" border="0" />
	</div>
	<div id="jg">
		<div class="jiage red">
			<p> <font class="bs">每用户每月</font>
				<br />
				<span class="big">30</span>
				<span class="small">元</span>
				<br />
				全业务，真移动，销售管理掌中宝！
			</p>
		</div>
	</div>

	<div id="wd">
		<p>
			<img src="__PUBLIC__static/index/phone/img/icon_android.png" border="0" />
			<span>安卓:</span>
			在各安卓应用市场搜索“XTools掌中宝”
			<br />
			<img src="__PUBLIC__static/index/phone/img/icon_iphone.png" border="0" />
			<span>ios:</span>
			在app store搜索“XTools掌中宝”
			<br />
			安卓下载地址：www.xtools.cn/3g/zzb.apk
		</p>

	</div>
<!--尾部-->
{include file="footer"}

	<script>
function pyRegisterCvt(){
	var w=window,d=document,e=encodeURIComponent;
	var b=location.href,c=d.referrer,f,g=d.cookie,h=g.match(/(^|;)\s*ipycookie=([^;]*)/),i=g.match(/(^|;)\s*ipysession=([^;]*)/);
	if (w.parent!=w){f=b;b=c;c=f;};u='//stats.ipinyou.com/cvt?a='+e('Bus.EUs.ABXfwROqfMm8oEq7QyJrb_')+'&c='+e(h?h[2]:'')+'&s='+e(i?i[2].match(/jump\%3D(\d+)/)[1]:'')+'&u='+e(b)+'&r='+e(c)+'&rd='+(new Date()).getTime()+'&e=';
	(new Image()).src=u;
}
</script>

	<script type="text/javascript">
var _py = _py || [];
_py.push(['a', 'Bus..Zvt-X5roDtLMhaG5AihqY_']);
_py.push(['domain','stats.ipinyou.com']);
_py.push(['e','']);
-function(d) {
	var s = d.createElement('script'),
	e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
	f = 'https:' == location.protocol;
	s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js'; 
}(document);
</script>
	<noscript>
		<img src="__PUBLIC__static/index/phone/img/adv.gif" style="display:none;"/>
	</noscript>

	<!-----------百度---------->

	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?21ada291f66437e31613453411d6fd59";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	<script type="text/javascript" src="__PUBLIC__static/index/phone/js/10032795.js"></script>

	<!-----------美洽---------->
	<script src="__PUBLIC__static/index/phone/js/24b8cf8273cb622b9c109f727f0efd4f.js" defer async></script>
</body>

</html>