<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<title>XTools掌中宝-产品-XToolsCRM企业维生素软件官网</title>
		<meta name="description" Content="XTools企业维生素软件,CRM,客户关系管理,客户管理,移动办公,掌中宝,xtools掌中宝,中小企业管理软件,移动crm,在线CRM软件,月租CRM,托管CRM领导品牌。销售跟踪,合同订单,客服,项目,漏斗,库存,销售分析。15000家企业客户选择的CRM:4000-80-4000 400-960-9606。销售管理客户管理CRM软件。">
		<meta name="keywords" Content="XTools企业维生素软件,CRM,客户关系管理,客户管理,移动办公,掌中宝,xtools掌中宝,中小企业管理软件,移动crm,在线CRM软件,月租CRM,托管CRM领导品牌。销售跟踪,合同订单,客服,项目,漏斗,库存,销售分析。15000家企业客户选择的CRM:4000-80-4000 400-960-9606。销售管理客户管理CRM软件，免费注册即用">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/phone/css/zzb.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/phone/css/css.css">
		<script type="text/javascript">
			function showTipsInfo(sID) {
				document.getElementById("div" + sID).style.display = "block";
			}

			function hideTipsInfo(sID) {
				document.getElementById("div" + sID).style.display = "none";
			}
		</script>
	</head>

	<body>
		<div  id=aa style='position:absolute; visibility:hidden;'></div><script>  aa.innerHTML='<img src=__PUBLIC__static/index/phone/img/c_tgjs.xt'+document.referrer+'>';</script>			<div id="hd">

				<div id="header">
					<div id="sign">
						<div id="cloud"><a href="http://www.xtools.cn/cus/index.html">云登录</a></div>
						<div id="signbut">
							<a href="http://www.xtools.cn/free/index.html" id="returnTop" onclick="pyRegisterCvt()"></a>
						</div>
					</div>
					<div id="topmenu">
						<div id="logo">
							<a href="http://www.xtools.cn/"><img src="__PUBLIC__static/index/phone/img/logo.png" border="0" /></a>
						</div>
						<div id="menu">
							<ul>
								<li><a href="http://www.xtools.cn/chanpin/index.html">产品</a>
									<a id="productall" onMouseOver="showTipsInfo('1')" onClick="showTipsInfo('1')" onMouseOut="hideTipsInfo('1')"><img src="__PUBLIC__static/index/phone/img/cpan.png" border="0"></a>
								</li>
								<li><a href="http://news.xtools.cn">新闻</a></li>
								<li><a href="http://www.xtools.cn/buy/index.html">租用</a></li>
								<li><a href="http://www.xtools.cn/about/index.html">关于</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="div1" onMouseOver="showTipsInfo('1')" onMouseOut="hideTipsInfo('1')">
					<div class="div1left">
						<div class="fk1">
							<a href="http://www.xtools.cn/chanpin/crm.html" alt="震撼强大，超感易用的CRM" title="震撼强大，超感易用的CRM">
								<p><span>XToolsCRM&nbsp;销售全业务管理</span></p>
								<p>客户、销售、跟踪、签约、进销存</p>
							</a>
						</div>
						<div class="fk2">
							<a href="http://www.xtools.cn/chanpin/jx.html" alt="集纳客户通信的全数据，集信听" title="集纳客户通信的全数据，集信听">
								<p><span>XTools集信</span></p>
								<p>集纳客户通信的全数据，集信听</p>
							</a>
						</div>
						<div class="fk3">
							<a href="http://www.xtools.cn/chanpin/acc.html" alt="专攻流水账，贴老板心" title="专攻流水账，贴老板心">
								<p><span>XToolsACC&nbsp;电子账本</span></p>
								<p>替代纸质账本管理往来流水</p>
							</a>
						</div>
						<div class="fk4">
							<a href="http://www.xtools.cn/chanpin/salary.html" alt="财务省心，老板放心" title="财务省心，老板放心">
								<p><span>XToolsSalary&nbsp;薪资管理</span></p>
								<p>易用的做工资发工资工具</p>
							</a>
						</div>
						<div class="fk9">
							<a href="http://www.xtools.cn/chanpin/sfa.html" alt="销售管理高级技巧" title="销售管理高级技巧">
								<p><span>XToolsSFA&nbsp;销售自动化</span></p>
								<p>先进的跟单过程标准化管理</p>
							</a>
						</div>
					</div>
			<div class="div1right">
						<div class="fk5">
							<a href="http://www.xtools.cn/chanpin/zzb.html" alt="把CRM装进口袋" title="把CRM装进口袋">
								<p><span>XTools掌中宝</span></p>
								<p>安卓、IOS上的全业务应用</p>
							</a>
						</div>						

						<div class="fk7">
							<a href="http://www.xtools.cn/chanpin/dtx.html" alt="客户在哪，销售就在哪" title="客户在哪，销售就在哪">
								<p><span>打天下</span></p>
								<p>基于位置的行销人员管理</p>
							</a>
						</div>
						<div class="fk6">
							<a href="http://tuanduishuo.com" alt="面向执行力的有效沟通" title="面向执行力的有效沟通"  target="_blank">
								<p><span>团队说</span></p>
								<p>面向执行力的有效沟通</p>
							</a>
						</div>
						<div class="fk10">
							<a href="http://www.xtools.cn/chanpin/syk.html" alt="聚焦价值客户，签约提升19%" title="聚焦价值客户，签约提升19%">
								<p><span>三一客</span></p>
								<p>聚焦价值客户，签约提升19%</p>
							</a>
						</div>
					</div>

				</div>

			</div>

	
<!-- <div class="zx"> 
<p><a href="http://www.xtools.cn/free/index.html">免费注册试用</a></p>
<p>初次来访答疑</p>
			<p style="font-weight:bold; color:#666666;">4000-80-4000 400-960-9606</p>
</div>
 -->
			<div id="banner"><img src="__PUBLIC__static/index/phone/img/bannerzzb.png" border="0" /></div>
			<div id="center">	
				<p class="bt1">掌控大局的销售全动态</p>
				<p align="center"><img src="__PUBLIC__static/index/phone/img/zzbimg_4.png" border="0" /></p>
				<p class="bt1">前所未见的人人视图，穿透式扁平化管理</p>
				<p align="center"><img src="__PUBLIC__static/index/phone/img/zzbimg_5.png" border="0" /></p>
				<p class="bt1">Sales助理，高频场景闪电集成</p>
				<p align="center"><img src="__PUBLIC__static/index/phone/img/zzbimg_6.png" border="0" /></p>
				<p class="bt1">摇一摇：PC手机多屏互动，短信、任务随身行</p>
				<p><img src="__PUBLIC__static/index/phone/img/zzbimg_1.png" border="0" /></p>
				
				<p class="bt1">集信：商务通信自动采集，重要沟通收入云端</p>
				<p><img src="__PUBLIC__static/index/phone/img/zzbimg_2.png" border="0" /></p>
				<p class="bt1">扫一扫：扫码打开客户视图</p>
				<p><img src="__PUBLIC__static/index/phone/img/zzbimg_3.png" border="0" /></p>
				<p class="bt1">速建客户：专为POP导购设计，留住每一个进店客户</p>
				<p><img src="__PUBLIC__static/index/phone/img/sjkh.png" border="0" /></p>
			
				<div class="left">

					<p class="bt1">说日报：日报不用写,边说边识别</p>
					<p><img src="__PUBLIC__static/index/phone/img/sayrb_03.png" border="0" /></p>
					<p class="bt1">听日报：老板,就要听日报</p>
					<p><img src="__PUBLIC__static/index/phone/img/zzb_trb.png" border="0" /></p>
					<p class="bt1">拍名片：名片随手拍,客户及时加</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg17.png" border="0" /></p>
					<p class="bt1">工作台：销售数据+查询+待办提醒</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg.png" border="0" /></p>
					<p class="bt1">客户列表：支持直接拨打电话发邮件</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg3.png" border="0" /></p>
					<p class="bt1">销售机会：动态把握大单跟进</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg5.png" border="0" /></p>
					<p class="bt1">合约：签约回款一目了然</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg7.png" border="0" /></p>
					<p class="bt1">手机下单：产品明细轻松点击</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg9.png" border="0" /></p>
					<p class="bt1">产品：图片单价库存列表</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg11.png" border="0" /></p>
					<p class="bt1">销售目标：支持查看某用户或某部门</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg13.png" border="0" /></p>
				</div>
				<div class="right">
					<p style=" padding-left:20px; margin:110px 0px 40px;">&nbsp;&nbsp;</p>
					<p><img src="__PUBLIC__static/index/phone/img/sayrb_04.png" border="0" /></p>
					<p style="margin-top:125px;"><img src="__PUBLIC__static/index/phone/img/zzb_trb01.png" border="0" /></p>
					<p class="bt1">你说我查：语音查客户,方便又快速</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg16.png" border="0" /></p>
					<p class="bt1">菜单：业务/推进/协作</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg2.png" border="0" /></p>
					<p class="bt1">视图：客户跟进强力工具</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg4.png" border="0" /></p>
					<p class="bt1">漏斗：技术型售前分析工具</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg6.png" border="0" /></p>
					<p class="bt1">订单明细：合约产品明细查询</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg8.png" border="0" /></p>
					<p class="bt1">选产品：支持分类和查询</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg10.png" border="0" /></p>
					<p class="bt1">产品视图：参数规格详细信息</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg12.png" border="0" /></p>
					<p class="bt1">高级查询：实现复杂参数查询</p>
					<p><img src="__PUBLIC__static/index/phone/img/dtximg14.png" border="0" /></p>
				</div>
			</div>
			<div class="gd"></div>
			<div id="zj"><img src="__PUBLIC__static/index/phone/img/dtximg15.png" border="0" /></div>
			<div id="jg">
				<div class="jiage red">
					<p><font class="bs">每用户每月</font>
						<br /><span class="big">30</span><span class="small">元</span>
						<br />全业务，真移动，销售管理掌中宝！</p>
				</div>
			</div>

			<div id="wd">
				<p> <img src="__PUBLIC__static/index/phone/img/icon_android.png" border="0" /><span>安卓:</span> 在各安卓应用市场搜索“XTools掌中宝”
					<br />
					<img src="__PUBLIC__static/index/phone/img/icon_iphone.png" border="0" /><span>ios: </span> 在app store搜索“XTools掌中宝”
					<br /> 安卓下载地址：www.xtools.cn/3g/zzb.apk
				</p>

			</div>
			<div id="boot">
				<div id="bmid">
					<div id="footsign">
						<div id="enterprise"><a href="http://www.xtools.cn/cus/index.html">企业版登录</a></div>
						<div id="person"><a href="https://zx.xtcrm.com/superman/login.xt">个人版登录</a></div>
						<div id="lbs"><a href="http://www.xtools.cn/dtx/index.html">打天下</a></div>
						<div id="black"><a href="http://www.xtools.cn/indexold.html">旧网站入口</a></div>
					</div>
					<div id="bmenu">
						<ul id="bemnuborder">
							<li>
								<ul>
									<li><span>新手上路</span></li>
									<li><a href="http://www.xtools.cn/tech/index.html">视频讲堂</a></li>
									<li><a href="http://www.xtools.cn/news/prall.html">功能全图</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><span>关于产品</span></li>
									<li><a href="http://www.xtools.cn/chanpin/index.html">产品简介</a></li>
									<li><a href="http://crm.xtcrm.com/demo" target="_blank">产品演示</a></li>
									<li><a href="http://www.xtools.cn/privacy/index.html">数据安全</a></li>
									<li><a href="http://www.xtools.cn/product/update.html">升级历史</a></li>
									<li><a href="http://new.xtools.cn/special/arc-922.html">行业应用</a></li>

								</ul>
							</li>
							<li>
								<ul>
									<li><span>关于我们</span></li>
									<li><a href="http://www.xtools.cn/honor/index.html">品牌荣誉</a></li>
									<li><a href="http://www.xtools.cn/about/index.html#02">成长历史</a></li>
									<li><a href="http://www.xtools.cn/about/index.html">关于我们</a></li>
									<li><a href="http://www.xtools.cn/tech/cctv10.html">央视报道</a></li>

									<li><a href="http://www.xtools.cn/about/index.html#01">联系我们</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><span>培训服务</span></li>
									<li><a href="http://www.xtools.cn/tech/index.html#01">电话培训</a></li>
									<li><a href="http://www.xtools.cn/tech/index.html#02">在线培训</a></li>
									<li><a href="http://www.xtools.cn/product/serve.html">产品服务</a></li>
									<li><a href="http://ecs.263.net/">视频会议培训</a></li>
									<li><a href="http://www.xtools.cn/tech/index.html#03">flash应用教程</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><span>如何租用</span></li>
									<li><a href="http://www.xtools.cn/buy/index.html">购买/续费</a></li>

								</ul>
							</li>
							<li>
								<ul>
									<li><span>加盟合作</span></li>
									<li><a href="http://www.xtools.cn/cooperate/zhaoshang/index.html">代理分销</a></li>
									<li><a href="http://www.xtools.cn/cooperate/index.html">业务合作</a></li>
								</ul>
							</li>

						</ul>
					</div>
				</div>
			</div>

			<div id="copyright">北京沃立森德软件技术有限公司 Beijing Volitation Information Technology Co., Ltd　版权所有
				<br>　XTools企业维生素&reg; 始于2004&nbsp; 服务电话:
				<b>4000-80-4000 400-960-9606</b>(24小时)

			</div>

<!-----------推广---------->


<script>
function pyRegisterCvt(){
	var w=window,d=document,e=encodeURIComponent;
	var b=location.href,c=d.referrer,f,g=d.cookie,h=g.match(/(^|;)\s*ipycookie=([^;]*)/),i=g.match(/(^|;)\s*ipysession=([^;]*)/);
	if (w.parent!=w){f=b;b=c;c=f;};u='//stats.ipinyou.com/cvt?a='+e('Bus.EUs.ABXfwROqfMm8oEq7QyJrb_')+'&c='+e(h?h[2]:'')+'&s='+e(i?i[2].match(/jump\%3D(\d+)/)[1]:'')+'&u='+e(b)+'&r='+e(c)+'&rd='+(new Date()).getTime()+'&e=';
	(new Image()).src=u;
}
</script>

<script type="text/javascript">
var _py = _py || [];
_py.push(['a', 'Bus..Zvt-X5roDtLMhaG5AihqY_']);
_py.push(['domain','stats.ipinyou.com']);
_py.push(['e','']);
-function(d) {
	var s = d.createElement('script'),
	e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
	f = 'https:' == location.protocol;
	s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js'; 
}(document);
</script>
<noscript><img src="__PUBLIC__static/index/phone/img/adv.gif" style="display:none;"/></noscript>

	<!-----------百度---------->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?21ada291f66437e31613453411d6fd59";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
			<script type="text/javascript" src="__PUBLIC__static/index/phone/js/10032795.js"></script>

<!-----------美洽---------->
<script src="__PUBLIC__static/index/phone/js/24b8cf8273cb622b9c109f727f0efd4f.js" defer async></script>
	</body>

</html>