<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{foreach $news_cate as $name}{if !input('cate')}新闻中心{/if}
        {if input('cate')==$name.id}{$name.name}{/if}{/foreach}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__static/index/news/css/news.css">
    <link rel="stylesheet" href="__STATIC__/index/news/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/index/news/css/certify.css">
    <script src="__STATIC__/index/news/js/swiper.min.js"></script>

</head>
<body>
{include file="top"}

<div id="certify" style="top: 120px">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {foreach $news_list as $info}
            <div class="swiper-slide"><a href="{:url('news')}?id={$info.id}"><img src="__UPLOADS__{$info.thumb}"></a><p>{$info.title}</div>
            {/foreach}
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


<div class="content"  style="width: 1200px; margin: 100px auto 0;">
    <ul class="cate" style="margin-top: 30px;">
        {foreach $news_cate as $name}
        <li><a href="{:url('index')}?cate={$name.id}">{$name.name}</a></li>
        {/foreach}
    </ul>
    <div class="content_left">
        <p class="cate_title">{foreach $news_cate as $name}{if input('cate')==$name.id}{$name.name}{/if}{/foreach}</p>
        {foreach $news_list as $info}
        <div class="new">
            <div class="left">
                <a href="{:url('news')}?id={$info.id}">
                    <img src="__UPLOADS__{$info.thumb}">
                </a>
            </div>
            <div class="right">
                <a href="{:url('news')}?id={$info.id}" class="title">{$info.title}</a>
                <p class="time">{$info.time}</p>
            </div>
        </div>
        {/foreach}
        <div>
            {$news_list->render()}
        </div>
    </div>

    <div class="content_right">
        <p class="cate_title">热点</p>
        {foreach $news_list2 as $key => $info2}
        {if $key<10}
        <div class="hotspot">
            <div class="left">
                <a href="{:url('news')}?id={$info2.id}">
                    <img src="__UPLOADS__{$info2.thumb}">
                </a>
            </div>
            <div class="right">
                <a href="{:url('news')}?id={$info2.id}" class="title">{$info2.title}</a>
                <p class="time">{$info2.time}</p>
            </div>
        </div>
        {/if}
        {/foreach}
    </div>
</div>
{include file="footer"}
<script>
    certifySwiper = new Swiper('#certify .swiper-container', {
        watchSlidesProgress: true,
        slidesPerView: 'auto',
        centeredSlides: true,
        loop: true,
        loopedSlides: 5,
        autoplay: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            //clickable :true,
        },
        on: {
            progress: function(progress) {
                for (i = 0; i < this.slides.length; i++) {
                    var slide = this.slides.eq(i);
                    var slideProgress = this.slides[i].progress;
                    modify = 1;
                    if (Math.abs(slideProgress) > 1) {
                        modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
                    }
                    translate = slideProgress * modify * 260 + 'px';
                    scale = 1 - Math.abs(slideProgress) / 5;
                    zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
                    slide.transform('translateX(' + translate + ') scale(' + scale + ')');
                    slide.css('zIndex', zIndex);
                    slide.css('opacity', 1);
                    if (Math.abs(slideProgress) > 3) {
                        slide.css('opacity', 0);
                    }
                }
            },
            setTransition: function(transition) {
                for (var i = 0; i < this.slides.length; i++) {
                    var slide = this.slides.eq(i)
                    slide.transition(transition);
                }

            }
        }

    })

</script>