
<div class="left_menu">
	{if "{:request()->controller()}"=="Crm"}
	<ul>
		<li><a href="#" class="glyphicon glyphicon-calendar"><p>工作台</p></a></li>
		<li><a href="#" class="glyphicon glyphicon-cog"><p>设置</p></a></li>
		<li><a href="#"><p>全功能</p></a></li>
		<li style="margin-top: 150px;"><a href="#" class="glyphicon glyphicon-tasks"><p>综合报表</p></a></li>
		<li><a href="#"><p>APP</p></a></li>
		<li><a href="#" class="glyphicon glyphicon-download-alt"><p>下载</p></a></li>
	</ul>
	{/if}
	{if "{:request()->controller()}"=="Task"}
	11
	{/if}
</div>

<script type="text/javascript">
$(document).ready(function(){
	var a="{:request()->controller()}";
	console.log(a);
});
</script>
