<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	<li role="presentation">
		<a role="menuitem" tabindex="-1" href="{:url('crm/index')}">
			<div>
				<span class="glyphicon glyphicon-user pull-left"></span>
				<div class="pull-left">
					<h4>CRM客户管理关系</h4>
					<p>给销售团队一颗云大脑</p>
				</div>
			</div>
		</a>
	</li>
	<li role="presentation">
		<a role="menuitem" tabindex="-1" href="{:url('map/index')}">
			<div>
				<span class="glyphicon glyphicon-map-marker pull-left"></span>
				<div class="pull-left">
					<h4>LBS打天下</h4>
					<p>基于定位的外勤管理</p>
				</div>
			</div>
		</a>
	</li>
	<li role="presentation">
		<a role="menuitem" tabindex="-1" href="{:url('task/index')}">
			<div>
				<span class="glyphicon glyphicon-list-alt pull-left"></span>
				<div class="pull-left">
					<h4>Task作业管理</h4>
					<p>学生作业批改</p>
				</div>
			</div>
		</a>
	</li>
	<li role="presentation" tabindex="-1" href="#">
		<a role="menuitem" tabindex="-1" href="#">
			<div>
				<span class="glyphicon glyphicon-th-list pull-left"></span>
				<div class="pull-left">
					<h4>Salary薪资管理</h4>
					<p>老板和财务最爱，奖金和业绩联动</p>
				</div>
			</div>
		</a>
	</li>
	<li role="presentation" tabindex="-1" href="#">
		<a role="menuitem" tabindex="-1" href="#">
			<div>
				<span class="glyphicon glyphicon-phone pull-left"></span>
				<div class="pull-left">
					<h4>CTI集信</h4>
					<p>固话、手机、邮件全通信采集</p>
				</div>
			</div>
		</a>
	</li>
	<li role="presentation" tabindex="-1" href="#">
		<a role="menuitem" tabindex="-1" href="#">
			<div>
				<span class="glyphicon glyphicon-globe pull-left"></span>
				<div class="pull-left">
					<h4>集客</h4>
					<p>用集客为自己扩展客源</p>
				</div>
			</div>
		</a>
	</li>
	<li role="presentation" tabindex="-1" href="#">
		<a role="menuitem" tabindex="-1" href="#">
			<div>
				<span class="glyphicon glyphicon-asterisk pull-left"></span>
				<div class="pull-left">
					<h4>SFA：销售自动化</h4>
					<p>主动推进和人工推进的完美结合</p>
				</div>
			</div>
		</a>
	</li>
</ul>