<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- CSS公共样式 -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/common.css">
    <!-- 引入bootstarp -->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- 引入jquery -->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <!-- 引入bootstarpJS -->
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- 引入vue.js -->
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
</head>

<body>
    <header>
        <div class="row">
            <div class="left col-md-10">
                <div class="logo pull-left">
                    <a href="{:url('index/index')}">
                        <img src="__PUBLIC__static/admin/index/images/logo.png" alt=""></a>
                </div>
                <div class="title pull-left">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            <span>LBS</span>
                            <span class="caret"></span>
                        </button>
                        {include file="list"}
                    </div>
                </div>
                <div class="breach pull-left col-lg-3">

                    <div class="input-group">
                        <div class="input-group-btn"></div>

                    </div>

                </div>
            </div>
            <div class="col-md-2 pull-left user_info">
                <div class="user">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <span class="user_name">Boss</span>

            </div>
        </div>
    </header>
    <div class="top" style="height: 60px;width: 100%;"></div>