<div class="left_menu lbs">
    <ul class="Maplist">
        <li>
            <a href="{:url("admin/map/index")}" class="glyphicon glyphicon-home">
                <p>工作台</p>
            </a>
        </li>
        <li>
            <a href="{:url("admin/map/visit")}" class="glyphicon glyphicon-user">
                <p>客户拜访</p>
            </a>
        </li>
        <li>
            <a href="{:url("admin/map/field")}" class="glyphicon glyphicon-inbox">
                <p>外勤工单</p>
            </a>
        </li>
        <li>
            <a href="{:url("admin/map/business")}" class="glyphicon glyphicon-plane">
                <p>出差管理</p>
            </a>
        </li>
        <li>
            <a href="{:url("admin/map/photo")}" class="glyphicon glyphicon-camera">
                <p>实景照片</p>
            </a>
        </li>
        <li>
            <a href="{:url("admin/map/check")}" class="glyphicon glyphicon-map-marker">
                <p>轨迹查询</p>
            </a>
        </li>
        <li>
            <a href="{:url("admin/map/sign")}" class="glyphicon glyphicon-star">
                <p>考勤</p>
            </a>
        </li>
        <li>
            <a href="{:url('admin/map/set')}" class="glyphicon glyphicon-cog">
                <p>设置</p>
            </a>
        </li>
    </ul>
</div>