@charset "gb2312";
/* CSS Document */
/*头部*/
*{ margin:0px auto;  }
body{margin:0px; padding:0px; font-size:12px; font-family:Microsoft YaHei,微软雅黑;}
#hd{width:auto; height:77px; background-image:url(../Images/head.png); background-repeat:repeat-x;  position: fixed;  top: 0;  width: 100%;  z-index: 300; -webkit-transform: translateZ(0);}
#hd1{width:auto; height:75px; position: fixed;  top: 0;  width: 100%;  z-index: 300; background:#fff;}


#productall{cursor:pointer; padding:0px 10px;}

#topnews,#pointfi, #modth,#news,#number, #copyright, #tel, #header,#bmid,#copyright {width:960px;margin:0 auto;}
#header{height:75px;}
#logo {float:left;width:200px;height:60px; padding-top:10px;}
#menu  {margin-left:180px; padding-top:20px;}
#menu li {float:left;width:100px;list-style-type:none;font-size:18px;color:#333;margin-top:10px;}
#sign{float:right; width:230px;}
#cloud{color:#333;float:left;height:20px;padding-top:29px; width:70px; padding-left:10px; background-image:url(../Images/head2.png); background-repeat:no-repeat; background-position:left bottom; line-height:26px;}
#cloud a{font-size:14px;}
#signbut{margin-top:18px; _margin-top:18px;float:left;width:140px;height:50px;font-size:19px;color:white;}
#signbut a{ color:#ffffff; font-size:19px; width:140px; height:45px; font-weight:bold;}
#returnTop {
  display:block;
	z-index:999;
	overflow:hidden;
	background-image:url(../Images/signbutton2.png);
	background-repeat:no-repeat;
	background-position:0 0;
	transition:bottom 0.9s;
	-webkit-transition:bottom 0.9s;
	-moz-transition:bottom 0.9s;
	-o-transition:bottom 0.9s;
	}
#returnTop:hover {
	background-position:0 -45px;
}
#returnTop:hover {
	background-position:0 -45px;
}
a:link {text-decoration: none; color:#333333;cursor:pointer;}
a:visited {color:#333;text-decoration: none }
a:hover {color:#4b6ea8; text-decoration: none }
a:active {color:#4b6ea8; text-decoration: none }


#div1{ display:none;  z-index: 100000000;  width: 503px; height:400px; background-image:url(../Images/bj4.png); background-repeat:no-repeat;  position: relative; left:23px; text-align: left; margin-top:-25px; padding:30px 20px 10px 20px; box-sizing: initial;}

.div1right,.div1left{float:left; }
.div1right span,.div1left span{font-size:15px;font-weight:bold; }
.div1left{width:270px;}
.div1right{width:212px;padding-left:18px;}
.div1right p,.div1left p{font-size:13px ;color:#333;  margin:0px;line-height:20px;} 
.div1right p a,.div1left p a{color:#222;display:block; font-size:14px ; font-weight:bold;}
.fk1{background:url(../Images/fd1.png) no-repeat left top; }
.fk2{background:url(../Images/fd2.png) no-repeat left top; } 
.fk3{background:url(../Images/fd3.png) no-repeat left top; }
.fk4{background:url(../Images/fd4.png) no-repeat left top; }
.fk5{background:url(../Images/fd5.png) no-repeat left top; }
.fk6{background:url(../Images/fd6.png) no-repeat left top; }
.fk7{background:url(../Images/fd7.png) no-repeat left top; }
.fk8{background:url(../Images/fd8.png) no-repeat left top; }
.fk9{background:url(../Images/fd9.png) no-repeat left top; }
.fk10{background:url(../Images/fd10.png) no-repeat left top; }
.fk1,.fk2,.fk3,.fk4,.fk5,.fk6,.fk7,.fk8,.fk9,.fk10{ padding-left:40px; margin-top:25px;}
.zx{background:url(../Images/zxbj.png) no-repeat; width:163px; height:115px;position: fixed;  top:400px; right:0px;   z-index: 300;}
.zx p{ padding:10px 0px 8px 50px; color:#666666; font-size:14px ; font-weight:bold;}
.zx p a{color:#666666;}
.zx p span a{color:#000;}
.zc{position:relative; top:-39px; left:270px;margin:0px; padding:0px;}


/*头部完*/

/*footer*/
#boot {width:100%;background:#e9e9e9;height:250px;}
#footsign{display:inline-block;float:left;padding-top:20px; width:130px; height:220px;}
#bmid{padding-top:10px; width:960px; margin:0px auto;}



#enterprise, #person, #lbs, #black{padding:5px;margin-bottom:20px;border-radius:4px;text-align:center;color:#fff;width:120px;}
#enterprise a, #person a, #lbs a, #black a{color:#fff;font-size:14px ; } 
#enterprise{background:#8ec540;}
#person{background:#f8c26e;}
#lbs{background:#84cbe8;}
#black{background:#999;}
#bmenu{ float:left; padding-left:80px;} 
#bmenu ul{padding:0px;}
#bemnuborder{ margin-top:20px;}
#bemnuborder li{float:left;width:120px;list-style-type:none;font-size:13px ;color:#8b8b8b;height:26px} 
#bemnuborder li a{font-size:13px ;color:#8b8b8b;height:26px} 
#bemnuborder span{font-size:14px ; font-weight:bold; color:#5a5a5a; }

#copyright{font-size:14px ;color:#555;padding:20px 0 10px 0;text-align:center; line-height:30px;}
#tel{font-size:15px;color:#888;padding-bottom:20px;text-align:center; margin:0px auto;}
#tel span{font-size:18px;color:#333}
