*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
body{
    height: 100%;
}
p{
    line-height: 200%;
}
/*登录注册*/
.head{
    width: 100%;
    height: 100%;
    background: url("../images/landing-slider.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}
.log{
    padding-top: 7%;
}
.text{
    color: #91b4de;
    font-size: 20px;
    line-height: 300%;
    position: relative;
    display: inline-block;
}
.text:before{
    left: -50%;
}
.text:after{
    right: -50%;
}
.text:before,.text:after{
    content: " ";
    height: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    background: #FFFFFF;
    opacity: 0.35;
}
.head .banner{
    margin-top: 4%;
    margin-bottom: 20px;
}
.head .int{
    color: #91b4de;
    font-size: 28px;
    line-height: 1.2;
    margin: 25px 0 20px 0;
}
.head .login{
    margin: 6% auto 4.2%;
}
.head .login a{
    display: inline-block;
    border-radius: 10px;
    font-size: 36px;
    color: #FFFFFF;
    width: 350px;
    margin: 0px 30px 30px;
    padding: 13px 0px;
}
.head .login a:nth-child(1){
    background: rgba(0,0,0,0.6);
    border: 1px solid rgba(76,76,76,0.6);
}
.head .login a:nth-child(2){
    background: rgba(4,82,176,0.7);
    border: 1px solid rgba(7,107,210,0.7)
}
.head .login a span{
    display: block;
    font-size: 18px;
    color: #8a8a8a;
    padding-top: 8px;
}
/*登录注册END*/
/*6项全能*/
.container1{
    background: #f7f7f7;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 88px;
    position: relative;
    text-align: center;
}
.container1 .logo{
    display: inline-block;
    position: relative;
}
.container1 .logo:before{
    left: -50%;
}
.container1 .logo:after{
    right: -50%;
}
.container1 .logo:before,.container1 .logo:after{
    content: " ";
    height: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    background: #dadada;
}
.container1 h3{
    color: #000;
    font-size: 32px;
    line-height: 1.2;
    margin: 25px 0 20px 0;
}
.container1 .stack{
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 70px;
}
.container1 .stack div{
    position: absolute;
}
.container1 .stack img{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3 );
}
/*css3动画*/
@keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        -ms-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        -ms-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}
/*css3动画end*/
.container1 .stack .stack_1{
    left: calc(50% - 195px);
    z-index: 200;
    display: inline-block;
}
.container1 .stack .stack_2{
    left: 25%;
    margin-top: 60px;
    z-index: 199;
    display: inline-block;
}
.container1 .stack .stack_3{
    right: 17%;
    margin-top: 90px;
    z-index: 199;
    display: inline-block;
}
.container1 .stack .stack_4{
    left: 11%;
    margin-top: 100px;
    z-index: 100;
    display: inline-block;
}
.container1 .stack .stack_5{
    right: -2%;
    margin-top: 160px;
    z-index: 10;
    display: inline-block;
}
.container1 .stack .stack_6{
    left: -1%;
    margin-top: 160px;
    z-index: 10;
    display: inline-block;
}
.container1 .stack .stack_7{
    z-index: 206;
    display: inline-block;
    top: 55%;
    right: 24%;
}
.container1 .stack .stack_7 img{
    box-shadow: none;
}
/*6项全能END*/
/*提升盈利能力和 给销售团队一颗云大脑*/
.fluid{
    background: url("../images/bg.jpg");
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 229;
    text-align: center;
}
.fluid .innovations{
    background: url("../images/innovations.png") repeat;
}
.fluid .row{
    width: 130px;
    height: 60px;
    background: #0452b0;
    margin: 0px auto 60px;
    color: #FFFFFF;
    position: relative;
    padding-top: 10px;
}
.fluid .row span{
    font-family: fzzqhjt;
    font-size: 36px;
    line-height: 90%;
}
.fluid .row p{
    font-size: 13px;
    line-height: 130%;
}
.fluid .row:after{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 20px solid #0452b0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
}
.fluid h1{
    line-height: 1.2;
    margin: 25px 0 20px 0;
    font-size: 62px;
}
.fluid p{
    font-size: 26px;
    color: #3b3b3b;
    line-height: 200%;
}
.fluid .layer{
    width: 100%;
    height: 480px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}
.fluid .layer img{
    position: absolute;
}
.fluid .layer .layer1{
    left: calc(50% - 372px);
    top: 30px;
}
.fluid .layer .layer2{
    bottom: 0%;
    right: 23%;
}
.fluid .layer .layer3{
    bottom: 0%;
    left: 17%;
}
.fluid .number{
    font-size: 17px;
    line-height: 55px;
    color: #6d6d6d;
    margin: -10px auto 10px;
}
/*给销售团队一颗云大脑*/
.benefits{
    padding: 88px 0 0;
    position: relative;
    background: #fff;
    overflow: hidden;
    text-align: center;
}
.benefits h2{
    color: #000;
    line-height: 1.2;
    margin: 25px 0 20px 0;
    font-size: 40px;
}
.benefits .text{
    font-size: 18px;
}
.benefits .row1{
    overflow: hidden;
    margin: 70px 30px;
}
.benefits .row1 .fadeIn{
    width: calc(20% - 30px);
    height: 280px;
    float: left;
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 40px;
}
.benefits .row1 .fadeIn .box{
    box-sizing: border-box;
    border: 2px solid #dadada;
    padding: 50px 15px 0px;
    transition: all .5s ease-in-out;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.benefits .row1 .fadeIn:hover .box{
    transform: rotateY(-180deg);
}
.benefits .row1 .fadeIn:hover .box-back{
    transform: rotateY(0deg);
}
.benefits .row1 .fadeIn .box-back{
    background: #5689c7;
    transform: rotateY(-180deg);
    color: #FFFFFF;
    font-size: 22px;
    padding: 100px 15px;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.benefits .row1 .fadeIn .box .title1{
     padding-top: 10px;
     color: #000000;
     font-size: 18px;
 }
.benefits .row1 .fadeIn .box p{
    font-size: 14px;
    color: #767676;
    margin: 0 0 10px;
}
.benefits .row1 .fadeIn .box i{
    color: #3079d0;
}
/*提升盈利能力和给销售团队一颗云大脑END*/
/*中小企业专业之选*/
.bg-img{
    background: url("../images/bg1.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
}
.bg-img .row{
    width: 130px;
    height: 60px;
    background: #0452b0;
    color: #FFFFFF;
    position: relative;
    padding-top: 10px;
    margin: auto;
}
.bg-img .row i{
    font-size: 32px;
}
.bg-img .row:after{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 20px solid #0452b0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
}
.bg-img .color1{
    color: #FFFFFF;
}
.bg-img .color1 img{
    padding-top: 58px;
     padding-bottom: 15px;
}
.bg-img .text2{
    color: #91b4de;
    font-size: 18px;
    line-height: 200%;
    position: relative;
    display: inline-block;
}
.bg-img .text2:after{
    left: -30%;
}
.bg-img .text2:before{
    right: -30%;
}
.bg-img .text2:after,.bg-img .text2:before{
    content: " ";
    height: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    background: #dadada;
}
.bg-img h2{
    margin-top: 50px;
    font-size: 40px;
}
.bg-img p{
    color: #B1B1B1;
    font-size: 26px;
    margin-top: 25px;
}
.empty_space{
    width: 100%;
    height: 6px;
    background: url("../images/png.png") repeat-x;
    position: absolute;
    bottom: 0;
    margin-bottom: -1px;
}
/*中小企业专业之选END*/
/*覆盖全通讯的集信*/
.cti .container{
    background: #FFFFFF;
    text-align: center;
}
.cti .container h2{
    color: #000;
    line-height: 1.2;
    margin: 25px 0 20px 0;
    font-size: 40px;
}
.cti .container .text{
    font-size: 18px;
}
.cti .container .magrin{
    margin: 80px 0px;
}
/*css3动画*/
@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        -ms-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
    }
}
/*css3动画end*/
.cti .container .magrin .cti-img{
    position: relative;
    border-radius: 50%;
    box-shadow: none;
    overflow: hidden;
    display: inline-block;
}
.cti .container .magrin .title{
    font-size: 22px;
    margin-top: 15px;
}
.cti .container .magrin .title+p{
    color: #767676;
}
.cti .container .text1{
    font-size: 26px;
    color: #3b3b3b;
}
/*覆盖全通讯的集信END*/
/*基于定位的外勤管理*/
.bs{
    background: url("../images/bg2.png");
    background-size: cover;
    width: 100%;
    position: relative;
    text-align: center;
}
.bs .row1{
    width: 130px;
    height: 60px;
    background: #0452b0;
    color: #FFFFFF;
    position: relative;
    padding-top: 10px;
    margin: auto;
}
.bs .row1:after{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 20px solid #0452b0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
}
.bs .row1 p{
    font-size: 13px;
    line-height: 130%;
}
.bs h2{
    color: #FFFFFF;
    padding-top: 78px;
    font-size: 40px;
}
.bs .text1{
    font-size: 18px;
    color: #B1B1B1;
}
.bs .magrin{
    margin: 80px 0px;
}
/*css3动画*/
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        -ms-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -ms-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        -ms-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn{
    animation-duration: .75s;
}
/*css3动画*/
.bs .magrin .txt{
    font-size: 20px;
    color: #67aafc;
    border: 1px solid #FFFFFF;
    padding: 60px 0;
}
.bs .magrin .text-left{
    color: #c1c1c1;
    text-align: left;
    font-size: 14px;
}
/*基于定位的外勤管理END*/
/*为老板设计的电子账本*/
.acc{
    background: url("../images/bg3.png");
    text-align: center;
}
.acc .text:before{
    left: -50%;
}
.acc .text:after{
    right: -50%;
}
.acc .text:after, .acc .text:before{
    content: " ";
    height: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    background: #dadada;
}
.acc h2{
    font-size: 40px;
    color: #000;
    line-height: 1.2;
    margin: 25px 0 20px 0;
}
.acc p{
    font-size: 18px;
}
/*css3动画*/
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
/*scc3动画*/
.animated{
    -webkit-animation-duration: 2s;
    animation-duration:1s;
}
.acc .row .acc_border{
    border: 2px solid #DADADA;
    background: #FFFFFF;
    margin: 100px 0px;
    height: 190px;
}
.acc .row .acc_border .acctop img{
    transform: translateY(-50%);
}
.acc .row .acc_border .acctop p{
    margin-top: -30px;
    font-weight: 300;
    padding: 0px 10px;
    height: 70px;
    font-size: 14px;
    line-height: 20px;
}
.acc .row .acc_border .acc_footer{
    border-top: 1px solid #DADADA;
}
.acc .row .acc_border .acc_footer .pull-left{
    padding: 7px 12px;
    border-right: 1px solid #DADADA;
}
.acc .row .acc_border .acc_footer .acc_text{
    font-size: 16px;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 10px;
    color: #404040;
   float: left;
}
/*为老板设计的电子账本END*/
/*薪资管理*/
.xzgl{
    position: relative;
    text-align: center;
}
.row_badge2{
    width: 130px;
    height: 60px;
    background: #0452b0;
    color: #FFFFFF;
    position: absolute;
    left: calc(50% - 65px);
    padding-top: 10px;
    z-index: 100;
}
.row_badge2 img{
    height: 30px;
    padding-bottom: 5px;
}
.row_badge2 p{
    font-size: 13px;
    line-height: 130%;
}
.row_badge2:after{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 20px solid #0452b0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
}
.xzgl .row .xzgl_img1{
    background: url("../images/bg5.jpg") no-repeat 100%;
    background-size: cover;
    padding: 100px 40px;
    max-height: 688px;
}
.xzgl .row .xzgl_img1 .box2{
    border: 2px solid #dbdadb;
    display: inline-block;
    width: calc(50% - 60px);
    height: auto;
    color: #d9d9d9;
    overflow: hidden;
    margin: 25px;
}
.xzgl .row .xzgl_img1 .box2 .box_left{
    float: left;
}
.xzgl .row .xzgl_img1 .box2 .box_left img{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #928f90;
    border-right: 1px solid #928f90;
}
.xzgl .row .xzgl_img1 .box2 .box_right{
    font-size: 14px;
    padding-top: 50px;
    width: calc(100% - 50px);
    float: left;
}
.xzgl .row .xzgl_img1 .box2 .box_right .title{
    font-size: 18px;
}
.xzgl .row .xzgl_img2{
    background: url("../images/bg6.jpg") no-repeat 100%;
    background-size: cover;
    padding: 219px 0 400px;
    max-height: 688px;
}
.xzgl .row .xzgl_img2 h2{
    font-size: 42px;
    color: #FFFFFF;
    line-height: 1.2;
    margin: 25px 0 20px 0;
}
.xzgl .row .xzgl_img2 p{
    color: #EBEBEB;
    font-size: 24px;
    margin-top: -11px;
}
/*薪资管理END*/
/*产品|存库*/
.cp{
    position: relative;
    text-align: center;
}
.cp .row{
    margin-top: 150px;
    margin-bottom: 150px;
}
.cp .kc img{
    margin-top: 50px;
}
.cp .cpkc h2{
    color: #000;
    line-height: 1.2;
    margin: 25px 0 20px 0;
    font-size: 40px;
}
.cp .cpkc h2 .shu{
    font-size: 36px;
    padding: 0 5px 3px;
}
.cp .cpkc .cpkc_list{
    width: 440px;
    margin: 0px auto;
    text-align: left;
}
.cp .cpkc .cpkc_list li{
    position: relative;
    padding-left: 130px;
    margin-top: 30px;
}
.cp .cpkc .cpkc_list li img{
    position: absolute;
    left: 60px;
    top: 0px;
}
.cp .cpkc .cpkc_list li p{
    line-height: 120%;
}
.cp .cpkc .cpkc_list li .color1{
    color: #000000;
    font-size: 16px;
}
.cp .cpkc .cpkc_list li .color2{
    color: #7e7e7e;
    font-size: 16px;
}
.cp .cpkc .cpkc_list li .color3{
    color: #3079d0;
    font-size: 13px;
}
/*产品|存库END*/
/*价值：全能提升*/
.jz{
    background-color: #f5f5f5;
    padding: 88px 0 0;
    text-align: center;
    position: relative;
}
.jz .row_badge2{
    position: relative;
    margin-top: -88px;
}
.jz .container h2{
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 1.2;
    margin: 25px 0 20px 0;
    font-size: 40px;
}
.jz .container .animated{
    padding: 0px;
    border: none;
    height: 290px;
    min-height: 290px;
}
.jz .container .animated img{
    width: 100%;
}
.jz .container .animated .caption{
    padding: 16px;
    background: #FFFFFF;
}
.jz .container .animated .caption p{
    text-align: left;
    font-weight: 300;
}
.jz .container .animated .caption .title1{
    color: #000000;
    font-size: 18px;
}
.jz .container .animated .caption .title2{
    color: #767676;
    font-size: 14px;
}
/*价值：全能提升END*/
/*盈利能力*/
.yl{
    background-color: #f5f5f5;
    padding: 20px 0 0;
    position: relative;
    text-align: center;
}
.yl .contllor h2{
    padding-top: 30px;
    padding-bottom: 20px;
    color: #000;
    line-height: 1.2;
    margin: 25px 0 20px 0;
    font-size: 40px;
}
.yl .contllor .yl_img{
    height: 297px;
    overflow: hidden;
    min-height: 290px;
}
.yl .contllor .row .odiv{
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}
.yl .contllor .row img{
    margin-right: -1000px;
    width: 100%;
}
.yl .contllor .yl_bg{
    background: url("../images/yl_bg.jpg");
    background-size: cover;
    color: #b1b1b1;
}
.yl .contllor .yl_bg .border-right{
    border-right: 1px solid #5b5b5b;
    margin: 40px 0;
}
.yl .contllor .yl_bg .border-right p{
    padding: 0 30px 10px;
    text-align: left;
}
.yl .contllor .yl_bg .border-right .title{
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
}
.yl .contllor .yl_bg .border-right .title:after{
    content: " ";
    width: 30px;
    height: 2px;
    background: #0452b0;
    position: absolute;
    left: 30px;
    bottom: 0;
}
.yl .contllor .yl_bg .border-right .title2{
    padding: 0 30px 10px;
    font-size: 15px;
}
/*盈利能力END*/
/*合作企业*/
.kh{
    background: url("../images/kh_bg.png") repeat;
    overflow: hidden;
    padding: 30px 0 40px;
    text-align: center;
}
.kh h3{
    padding-bottom: 5px;
    font-size: 24px;
    color: #000;
    line-height: 1.2;
    margin: 25px 0 20px 0;
}
.kh .kh_logo li{
    margin: 10px auto;
}
.kh .kh_logo li img{
    margin: 10px;
}
/*合作企业END*/